[2018-04-11 12:15] erciccione opened #1 "Governance process to add new repositories"
Hi Maintainers, we really need to decide in which way new repositories should be added to the ecosystem. My proposal:

The team making this decision should be composed by all repo maintainers inside the ecosystem (5 at the moment, 6 soon), but i would keep a veto right as steward of the project (to be used only in extreme cases).

Proposals to add and remove a new repository should be posted here

[2018-04-22 17:17] skftn opened #3 "slow-hash.py"
http://www.nothisispatrik.com/2018/03/30/python-reimplementation-of-cryptonights-hash-function/

http://nothisispatrik.com/slow-hash.py

Should be added to the list, however can't find this code on github.

[2018-04-23 11:42] erciccione commented on #3
That would be cool to have. i could just create a repo and give credits, but the problem is that it should be kept updated and i'm not able to do that. If somebody can maintain it i will definitely include it

[2018-04-23 11:55] skftn commented on #3
You might be able to contact via https://www.reddit.com/user/LarrySDonald

[2018-04-23 12:01] erciccione commented on #3
oh great, wasn't able to find any contact on his website, will definitely contact him there. Thanks

[2018-04-28 10:28] NoThisIsPatrik commented on #3
Hi. Yeah, I mean to start using github roughly every two-three months (beyond cloning stuff and using it) and it pretty much is always a mess. But you're all correct - it should be in a repo, going to take another stab at it.

[2018-04-28 10:38] NoThisIsPatrik commented on #3
There, now it exists. I'm going to try to add some alternate forms besides everything jammed into a single file (I like that is can be, but it's not the most manageable thing ever), but in any case the plain... itself has a repo now.

[2018-05-02 11:46] erciccione commented on #3
@NoThisIsPatriyou can transfer the repo now

[2018-05-02 20:12] erciccione commented on #3
The 'slow hash' repo is now part of the monero-ecosystem family: https://github.com/monero-ecosystem

[2018-05-02 20:12] #3 closed

[2018-05-02 21:08] skftn commented on #3
nice

[2018-07-23 06:55] skftn opened #5 "Add qml-xmr to the repository"
https://github.com/skftn/qml-xmr

Related to GUI wallet development.

[2018-07-23 13:59] erciccione commented on #5
Looks like a good addition to me. If it's ok for you i will send you the request to membership so you can transfer the repo

[2018-08-16 14:46] lh1008 commented on #1
It's good to know that there should be a governance inside the repository. Some community members were asking what happens if someone goes rogue inside the Monero ecosystem? I will be posting a proposal to add a new repository soon. :)

[2018-08-16 20:49] Leza89 opened #6 "Add Lunlumo to the repository"
To my shame I have to admit that I haven't tried it myself yet; Anyway:

https://github.com/nasaWelder/lunlumo

[2018-08-16 22:54] lh1008 opened #7 "Add Monero Outreach repository"
Monero Outreach is working on educational material for the community. The Contribute repository is where all the documentation will be forward for translations.

https://github.com/monero-outreach/Contribute

:)

Thank you.

[2018-08-17 13:28] erciccione commented on #7
Happy to welcome the Monero Outreach repo, but as you said in monero-outreach/Contribute#4 , we need a better name for that repo before transferring it to the monero-ecosystem. Let me know when that is done, so we can start the transfer

[2018-08-17 13:30] erciccione commented on #6
what @nasaWelder thinks about this? would you transfer the repo to the monero-ecosystem?
Also, do you plan to regularly update it?

[2018-08-17 20:57] lh1008 commented on #7
Sure thank you @erciccione ! :smile:

[2018-08-20 19:45] lh1008 commented on #7
Hi @erciccione

The repository's name has been changed. [Issue closed](https://github.com/monero-outreach/outreach-docs/issues/4)

This is the new repository's name:

https://github.com/monero-outreach/outreach-docs.git

[2018-08-27 17:15] erciccione commented on #7
ping @lh1008

[2018-08-27 17:16] erciccione commented on #5
@skftn We can transfer this repo to the monero-ecosystem if you want to, just ping me

[2018-08-27 18:50] lh1008 commented on #7
@erciccione I sent a message two days ago through mattermost. I'll be sending another message. :)

[2018-08-27 20:03] skftn commented on #5
Thanks!

[2018-08-27 20:05] erciccione commented on #5
Repo transferred, the address is: https://github.com/monero-ecosystem/qml-xmr
Thank you!

[2018-08-27 20:05] #5 closed

[2018-08-29 11:57] erciccione commented on #7
Transfer completed: https://github.com/monero-ecosystem/outreach-docs

[2018-08-29 11:57] #7 closed

[2018-08-30 07:00] Lafudoci opened #8 "Add Moneriote-python (collect opennode for public service)"
I have worked on this repo for months. And I think it's stable enough for adding into ecosystem.
https://github.com/Lafudoci/moneriote-python

This scripts to maintain Monero opennodes DNS records. I have run one for months, and it's already listed on MoneroWorld 18089 opennode (opennode.xmr-tw.org:18089).

So basically I'll continually maintain this script for sure and there are something I'm pla

[2018-09-02 21:47] erciccione commented on #8
Ok for me. let's see if anybody from @monero-ecosystem/maintainers has something to say about it. if not, we can start the transfer

[2018-09-03 08:08] skftn commented on #8
I’d like to improve code quality. Do you mind a PR @Lafudoci ?

[2018-09-03 09:56] Lafudoci commented on #8
@skftn No problem! My python skill is self-learning. So any coding suggestion or revision is appreciated.

[2018-09-03 15:53] lh1008 commented on #8
I'm not a python expert so I can't really say something about the code but is good to have initiatives by contributors for the Monero Ecosystem. :]

[2018-09-03 21:48] skftn commented on #8
@Lafudoci Ok I'm currently rewriting lots of code (hope you dont mind ^^), I have some questions: https://github.com/Lafudoci/moneriote-python/issues/1

[2018-09-04 02:42] Lafudoci commented on #8
@skftn No, it's totally fine. Large part of the code were also adopted from previous monero contributor  Gingeropolous and connorw600. So it's nice to have these work step foreword.

[2018-09-04 23:12] skftn commented on #8
See https://github.com/Lafudoci/moneriote-python/pull/2

[2018-09-10 13:16] erciccione opened #9 "Move the monero-ecosystem project to GitLab"
All Kovri repositories have been already moved.
Personally, i'm in favout of moving to GitLab for many reasons, but i would first wait to see what happen to the main Monero repositories. If the project will be moved, i think we should move as well.
opinions? @monero-ecosystem/maintainers

see monero-project/meta#236

[2018-09-10 15:40] Lafudoci commented on #9
Following the main Monero repo sounds good to me.

[2018-09-28 12:13] Lafudoci commented on #8
@erciccione Lafudoci/moneriote-python#2 got merged. Could we start to transfer?

[2018-09-28 12:39] erciccione commented on #8
Transfer concluded. Closing this issue

[2018-09-28 12:39] #8 closed

[2018-09-28 14:42] woodser opened #10 "Move monero-wallet-java to Monero Ecosystem"
Hi, I'm interested in moving [monero-wallet-java](https://github.com/woodser/monero-wallet-java) to this ecosystem.

It provides Ja ava wrapper to monero-wallet-rpc and monero-daemon-rpc.  Support for v0.12.3.0 is almost done then I'll turn attention to v0.13.0 updates.

Probably not worth the trouble the monero-ecosystem effort is about to be migrated to GitLab, but would the migration entail?  T

[2018-09-28 15:58] erciccione commented on #10
Hi, looks like a good and long term project. Ok to add it for me, but let's see if somebody else has something to say first. Pinging @monero-ecosystem/maintainers

We are not about to move. I think a long discussion is needed before migrating, and even if all maintainers decide for that move, we need to get used to gitlab's workflow first. I just started using it and, anyway, i would prefer to get

[2018-09-28 20:09] lh1008 commented on #10
It looks good to me. @woodser what is a Java wrapper to monero-wallet-rpc and monero-deamon-rpc? I'm not good at programming so just curious what your porjects does :).

[2018-09-28 21:51] erciccione commented on #1
pinging @monero-ecosystem/maintainers for discussion

[2018-09-28 22:28] lh1008 commented on #1
I'm here :) :+1:

[2018-09-28 23:08] NoThisIsPatrik commented on #1
I'm here. I need to remember to update the repo at some point btw, adjusted
it to work in python 3. But also half-way added SHUFFLE/INT_MATH functions,
which I believe is supposed to be in next hardfork at some point. And
didn't properly use git. But that's a whole different thing, I'm just
typing it out loud on the basis that if I admit to actually needing to,
perhaps I'll get around to it.

On F

[2018-09-29 03:36] Lafudoci commented on #1
Sounds good to me, but what criteria should we use to approve it? Monero related or useful? I believe we should encouge the diversity of this ecosystem. So maybe related is enough?

[2018-09-29 03:45] Lafudoci commented on #10
Nice job, ACK.

[2018-09-29 09:46] erciccione commented on #10
I asked for feedbacks on #monero-dev, this is @rbrunner7 answer:
[code]

So, I think we have consensus. Leaving this open for some more hours in case somebody else have something to say, then we can transfer the repo @woodser

[2018-09-29 10:06] erciccione commented on #1
Now that we have the attention of all maintainers i'll write down point for point my proposal of governance for this repo:

+ The team who decide which proposals should be included and which not is composed by all repo maintainers inside the ecosystem. I will keep a veto right as steward of the project (to be used only in extreme cases).
+ Proposals to add and remove a new repository should be pos

[2018-09-29 10:07] erciccione commented on #1
@NoThisIsPatrik thanks for the updated, let us know if you need any help/support :)

[2018-09-29 10:35] Lafudoci commented on #1
@erciccione Good point, got it.

[2018-09-29 19:27] lh1008 commented on #10
`ACK`

[2018-09-29 21:04] woodser commented on #10
@lh1008 Basically this code makes it possible to interact with a Monero wallet and query the Monero blockchain within a Java environment.  The Java code relies on running instances of [monero-wallet-rpc](https://getmonero.org/resources/developer-guides/wallet-rpc.html) and [monero-wallet-daemon](https://github.com/monero-project/monero/wiki/Daemon-RPC-documentation) by making requests and translat

[2018-10-01 05:54] normoes opened #11 "Add python-monerorpc to monero ecosystem"
Hi,

I have created [python-monerorpc](https://github.com/XMRto/python-monerorpc).

It is a fork of [python-bitcoinrpc](https://github.com/jgarzik/python-bitcoinrpc) and was adapted to be used wirth **monero daemon rpc** and the **monero wallet rpc**.

Example:

[code]

Maybe you could have a look at it and add it to the monero-ecosystem eventually.

That would be great.
Have a nice day.

[2018-10-01 13:04] erciccione commented on #10
@woodser Ping me here or on `#monero` when you are ready to transfer the repo, please.

[2018-10-01 13:04] skftn commented on #11
@normoes Heya. Could you elaborate on the differences between your module and https://github.com/emesik/monero-python ? Thanks!

[2018-10-01 13:20] normoes commented on #11
`monero-python` can do way more than my simple module. It also includes some utilities as a monero address validator for instance.

As far as I understand, it is the complete suite.

`python-monerorpc` is just the part that communicates with the `daemon via rpc` or with `monero-wallet-rpc`. What makes it interesting is that it is highly dynamic So when devloping, you just use RPC methods as class/

[2018-10-05 04:51] normoes commented on #11
I had a closer look at `monero-python`.

`python-monerorpc` and `monero-python` are more similar than I thought initially. In fact, `monero-python` implements a backend that communicates with monero using RPC. It is thoroughly implemented as python class with methods and the module implements classes around this backend to make its use more comfortable.
`python-monerorpc` is just a very dynamic ba

[2018-10-05 06:42] Lafudoci commented on #11
@erciccione  @normoes Sorry for late response, I just tried and found some issues.
- It seems `setuptools `should be use intead of `distutils`, or `install_requires` won't work.
And `open('README').read()` give an exception here because should be pointed to `README.md`.
https://github.com/XMRto/python-monerorpc/blob/84cfee6080a62cd32e8f0478f63a1002c4c20579/setup.py#L3-L18
- `python setup.py` needs

[2018-10-05 06:43] normoes commented on #11
Nice!
Thanks for the reply.

I'll address them and come back to you.

[2018-10-06 03:41] Gingeropolous opened #12 "Consider adding icryptonode repo"
Repo proposal

https://github.com/seibelj/iCryptoNode

i have an attachment to this, as that whole thing is what my original monerodo OS was supposed to do. It turns out I just suck at coding. This cryptonode guy doesn't seem to suck.

[2018-10-06 14:49] erciccione commented on #12
Thanks @Gingeropolous, will open an issue on @seibelj's repo and ask for his imput

[2018-10-06 19:01] normoes commented on #11
@Lafudoci Would you mind testing it again, pelase.

* I adapted the `README.md`.
* I pointed to `README.md` in `setup.py`.
* pyhon3 should work.
* `setuptools` replaced `distutils.core`

[2018-10-07 09:58] Lafudoci commented on #11
@normoes Nice work, can confirm installation issue was resolved and works with python3, ACK.

[2018-10-07 12:31] erciccione commented on #11
Good, we have consensus. Thanks @Lafudoci and @skftn for the reviews.

@normoes ping me when you are ready, so we can start the migration. Can you also provide a one line descriction of the repo?

[2018-10-07 17:40] normoes commented on #11
Some minor adaptions to the `batch_()` function and then we are ready to go.

Thanks for all the support.

[2018-10-08 08:49] normoes commented on #11
@erciccione Ready for migration.

One line description (taken form the README):
python-monerorpc is an improved version of python-jsonrpc for Monero (monerod rpc, monero-wallet-rpc).

[2018-10-08 12:29] erciccione commented on #11
@normoes I sent you the invitation, please accept and transfer the repo :)

[2018-10-08 13:06] normoes commented on #11
Thanks :)

[2018-10-08 13:39] erciccione commented on #11
There it is: https://github.com/monero-ecosystem/python-monerorpc
Migration is completed. Closing this issue. Thanks everybody

[2018-10-08 13:39] #11 closed

[2018-10-08 13:43] erciccione commented on #10
ping @woodser

[2018-10-08 15:27] woodser commented on #10
Lets do this.

[2018-10-08 15:36] erciccione commented on #10
@woodser You can transfer the repo now

[2018-10-20 18:43] erciccione opened #14 "Add repo 'submit-tx-via-tor'"
Reddit user /u/hapticpilot created a script to submit raw Monero transactions over Tor. He asked me to propose to add it to the Monero-Ecosystem project, so i'm opening the request on his behalf. Read the [discussion on reddit](https://www.reddit.com/r/Monero/comments/9pjkh5/a_simple_script_to_make_monero_transactions_more/)

It's a simple bash script, and i temporarely uploaded it on my personal

[2018-10-20 18:43] erciccione commented on #14
@monero-ecosystem/maintainers

[2018-10-21 00:50] skftn commented on #14
A few thoughts:

- Instead of using curl + proxy, you could use `torify` or any of the other network wrappers.
- Grepping output of curl for `status": "OK"` seems dirty. This does not allow for elaborate error messages.
- Curl default user-agent needs to be changed
- Like your to-do's state; raw tx file validation would be nice but probably annoying to implement in bash.
- 190 lines of Bash seems

[2018-10-21 15:35] Lafudoci commented on #14
I'm not familiar with tor stuff, but this script should be useful before we have Kovri implementation. And I have no doubt to acknowledge this if @skftn is going to take care of it :D

[2018-10-21 15:57] erciccione commented on #14
@skftn He gave a detailed reply to your comments. See on reddit: https://www.reddit.com/r/Monero/comments/9pjkh5/a_simple_script_to_make_monero_transactions_more/e8698qf/

Please reply there so that we have theconversation on just one platform and i don't have to be the go-between :)

[2018-10-21 17:39] skftn commented on #14
Lets get this into the ecosystem. Ill maintain it. Ill also add a Python version, not as a rewrite but as an additional script one could choose to use :)

[2018-10-22 16:54] erciccione commented on #14
Approved
We have consensus (4 ACK). Will transfer the repo and set @skftn as maintainer

[2018-10-24 12:08] erciccione commented on #14
- Repo transferred to the ecosystem.
- @skftn Is now the maintainer/administrator
- Added to the list of the repos with #15

Thank you all

[2018-10-24 12:08] #14 closed

[2018-10-24 12:54] erciccione opened #16 "Remove 'monero-docs'"
I created the [monero-docs](https://github.com/monero-ecosystem/monero-docs) repository in the ecosystem time ago, but it was never used. If it's ok for the maintainers, I think it should be remove it. This for the policy "No dead repos in the ecosystem". (A thumbs up or down is more than enough here, don't think much discussion is needed)

@monero-ecosystem/maintainers

[2018-10-24 13:48] normoes commented on #16
For me that's OK, since it is outdated as you said.

Is there any information which should be transferred to somewhere else?

[2018-10-24 14:14] erciccione commented on #16
@normoes No. The repo was born empy and will probably die empty :)

[2018-10-24 20:33] lh1008 commented on #16
Yes you can remove it.

[2018-10-24 20:45] lh1008 commented on #12
Looks nice.

[2018-10-24 20:46] lh1008 commented on #9
I have been working also with gitlab and I like gitlabs workflow. I think is a good idea if we would like to remove from "windows" window.

[2018-10-24 21:07] el00ruobuob commented on #9
Are we talking about gitlab.com or repo.getmonero.org?
While I am totally in favor of the second, I am less sure with the first.

[2018-10-25 21:06] lh1008 commented on #9
I believe is repo.getmonero.org.

[2018-10-25 21:45] erciccione commented on #9
This is a tricky one, because all maintainers had their projects originally uploaded on github. Changing platform sounds like forcing them to get use to another workflow and change platform. I would say: let's see what happens to all monero repos first.

The choice repo.getmonero.org or gitlab is not that obvious. Rely on the getmonero server means rely on the core team about all server-side confi

[2018-10-25 23:28] lh1008 commented on #9
Oh, I didn't know that. I thought repo.getmonero.org was gitlabs repo. I didn't understand why I was not able to login to gitlab using my normal username, I had to go to the repo.getmonero.org. I also had problems with port 22, and didn't understand why. Thank you for the notice @erciccione.

[2018-10-25 23:58] lh1008 commented on #9
So I will stick with whatever we agree.

[2018-10-31 18:50] erciccione commented on #16
Removed from list (#17 ) and from the ecosystem

[2018-10-31 18:50] #16 closed

[2018-10-31 18:52] erciccione commented on #6
Contacted him on reddit and pigned here. No answer. I take it as a 'no'.
Closing this

[2018-10-31 18:52] #6 closed

[2018-10-31 19:16] nasaWelder commented on #6
hi @erciccione @Leza89 I got a new phone and didn't re-install these apps... sorry about that

[2018-11-20 17:11] erciccione commented on #1
Governance system added to readme with #18

[2018-11-28 13:35] #1 closed

[2018-12-19 14:17] erciccione commented on #12
Never got an answer. Closing

[2018-12-19 14:17] #12 closed

[2018-12-19 14:56] erciccione opened #19 "Add Pymonero repository"
I proposed @ehanoc to add **[Pymonero](https://github.com/ehanoc/pymonero)** to the Monero Ecosystem and he agreed. See [monero-project/monero#4996 (comment)](https://github.com/monero-project/monero/issues/4996#issuecomment-448611219).

Pymonero is a fork of monero-project/monero to deliver python c++ bindings, maybe @ehanoc can tell us more about the project and its goals.

pinging @monero-ecosy

[2018-12-19 15:02] erciccione commented on #19
@ehanoc To be clear, the monero ecosystem only hosts projects which will be maintained and kept updated. I see the project is not updated since the end of May. Do you plan to keeping this repo constantly updated?

[2018-12-19 15:10] ehanoc commented on #19
@erciccione I do want to keep it updated as much as possible. I have found some interest within my current Organization too (see profile). But just by myself would be hard i must say...

I started this as a need for myself initially; as i didn't want to use re-written implementations and wrappers. With bindings you don't need those, you can re-use the core codebase and it's easy to integrate new f

[2018-12-19 15:15] xmrdsc commented on #19
Cool project :+1:

[2018-12-19 15:18] johnalanwoods commented on #19
Good idea in my view! Happy to contribute!

[2018-12-19 15:52] erciccione commented on #19
@ehanoc Ok got it. hopefully, it will get more exposure here and we can find more contributors willing to help with maintainance/development.

+1 for me

[2018-12-19 17:20] lh1008 commented on #19
Not sure what the code says, but I would like to see more Monero independent projects working to enforce Monero. :) :+1:

[2018-12-19 20:37] sproj commented on #19
Up for contributing. Work with ehanoc, so can get in the loop that way. While working hard, of course.

[2018-12-26 10:59] erciccione commented on #19
@ehanoc consensus seems clear and looks like we also found some volunteers willing to contribute to the project, great! Now we only have to transfer the repo. Ping me when you are ready please

[2019-01-02 17:17] erciccione commented on #19
ping @ehanoc

[2019-01-06 16:27] erciccione opened #21 "Create a github page for the ecosystem"
What do you guys think about creating a simple github page for the Monero Ecosystem project?
Every maintainer could have their own section when they can write info about their repository (even just showing the readme would be ok). I would use it a lot for the guide of the GUI, since i could have it online in an html page.
For more info about github page: https://pages.github.com/

@monero-ecosyste

[2019-01-07 09:44] ehanoc commented on #19
@erciccione let's do it.

[2019-01-07 13:03] ehanoc commented on #19
It says i don't have permissions to do so

[2019-01-07 13:05] erciccione commented on #19
Sorry @ehanoc , now you can

[2019-01-07 13:10] ehanoc commented on #19
done

[2019-01-07 13:12] erciccione commented on #19
Perfect, thanks. I'm gonna add it to the README and announce it on reddit

[2019-01-07 13:33] ehanoc commented on #19
Cool. Thanks. As a next step, we should protect the master branch.

[2019-01-07 13:35] erciccione commented on #19
It's still your repo and you have all admin permission as before. You can do whatever you think is best :)

[2019-01-07 14:48] erciccione commented on #19
Migration is complete (#22) and the transfer has been announced on reddit: https://www.reddit.com/r/Monero/comments/adiagu/new_member_of_the_monero_ecosystem_project/

@ehanoc Now you have right to vote as for our governance system.

Closing.

[2019-01-07 14:48] #19 closed

[2019-01-08 14:37] erciccione opened #23 "Add Monerobox to the ecosystem"
@Jasonhcwong asked [on reddit](https://www.reddit.com/r/Monero/comments/adiagu/new_member_of_the_monero_ecosystem_project/edi2ewu/) to add his reository to the ecosystem: **[MoneroBox](https://github.com/Jasonhcwong/monerobox)**

From the readme:
*MoneroBox aims to make a plug-and-play, zero-configuration Monero full node running on a Single-Board-Computer such as Rock64 and Raspberry Pi 3*

Waiti

[2019-01-08 21:46] Jasonhcwong commented on #23
It is developed for Rock64 and intended to be used as a remote node for mobile wallets.
It has a web UI and zero-conf network so that users can easily manage the box.

[2019-01-09 02:43] Lafudoci commented on #23
It looks nice, @Jasonhcwong could you elaborate how does the "auto update" work?

[2019-01-09 11:23] Jasonhcwong commented on #23
monero cli tools are downloaded from getmonero.org and packaged into a deb package and put to a APT repo, monerobox is configured with unattended upgrade which will check the repo and install if new version is found.
Web UI update is done in the same way.

[2019-01-17 14:33] erciccione opened #24 "Add monero-javascript to the Ecosystem"
**[Monero-Javascript](https://github.com/woodser/monero-javascript)** was recently [announced on reddit](https://www.reddit.com/r/Monero/comments/agmi6n/new_javascript_library_for_monero_released/) by @woodser. He already maintain one repository on the Ecosystem and i proposed him to add also Monero-Javascript. He agreed.

From the Readme:

_This project provides a modern JavaScript API for a Mone

[2019-01-19 15:02] erciccione commented on #24
I personally think this is a high quality project and from the announcement on reddit seems like the code is also very well written. So, +1 for me.

[2019-01-19 15:03] erciccione commented on #23
I would like to see this repo added.

Anybody else from @monero-ecosystem/maintainers have comments?

[2019-01-20 12:51] Jasonhcwong commented on #23
I think all the deb packages from an APT repo are signed by the key of the repo and verified before download(when you run "apt update" to see if there is any new packages").

When installing the base image, the public key of the repo is added before adding the repo.

[2019-01-20 12:52] Jasonhcwong commented on #23
Thanks for your suggestion, I will update the docs.

[2019-01-21 13:10] emesik opened #25 "Add monero-python to the Ecosystem"
Hi,

As the main author, I'd like to move the repository of [monero-python](https://github.com/emesik/monero-python) to the Ecosystem. It's version 0.5, a functional beta, which already allows to perform all base operations on a wallet:

* check balances,
* query for incoming and outgoing payments,
* send transfers,
* process mnemonic seeds,
* generate subaddresses offline,
* do address validation

[2019-01-21 14:31] ehanoc commented on #24
+1 Javascript support is big

[2019-01-22 03:01] Lafudoci commented on #25
ACK, it's a great and active project funded by Monero FFS. @erciccione might able to help with the transition.

[2019-01-22 03:04] Lafudoci commented on #24
+1, very great work.

[2019-01-22 15:43] erciccione commented on #25
Nice. Thanks for proposing this project @emesik . +1 from me.

About the migration, Travis is already activated since i used it for monero-GUI-guide. It will just be enough for me to thick a box and you will have travis immediatly working as it did before, only difference will be the different page for the bots.
I'm not familiar with Readthedocs. How does the implementation work? is there some kin

[2019-01-22 18:03] normoes commented on #24
+1

[2019-01-23 12:46] erciccione commented on #23
@Jasonhcwong I invited you to the team, now you can accept and transfer the repo

[2019-01-23 13:10] erciccione commented on #24
@woodser Approved. Contact me to organize the transfer

[2019-01-25 12:31] woodser commented on #24
@erciccione Ready when you are.

[2019-01-30 14:23] woodser commented on #24
Ping @erciccione

[2019-01-30 15:53] erciccione commented on #24
Sorry i missed the first ping somehow. You can transfer the repo anytime, post here when done please

[2019-01-31 16:33] erciccione commented on #25
Forgot to ping: @monero-ecosystem/maintainers

[2019-01-31 17:09] erciccione commented on #23
Repo is transferred, PMd (#26 ) and announced on reddit: https://www.reddit.com/r/Monero/comments/alrmbn/2_new_projects_joined_the_monero_ecosystem/. Closing this PR, thanks everybody :)

[2019-01-31 17:09] #23 closed

[2019-01-31 17:09] erciccione commented on #24
Repo is transferred, PMd (#26 ) and announced on reddit: https://www.reddit.com/r/Monero/comments/alrmbn/2_new_projects_joined_the_monero_ecosystem/. Closing this PR, thanks everybody :)

[2019-01-31 17:09] #24 closed

[2019-01-31 17:18] erciccione opened #27 "We need a logo"
That's it, we need one. If somebody can make it or have ideas, please comment.

[2019-01-31 17:47] Mansarde commented on #27
Maybe an umbrella with the Monero "M" on it, because: it _gathers_ multiple different things under itself.
Like an "umbrella corporation" or an "umbrella term", etc.
In this case the "things" would be the different projects/repositories.

The umbrella could be shown either from the side or from the top.

[2019-02-01 17:51] Jasonhcwong commented on #27
I though the  "monero heart" badge on github  is our logo?

[2019-02-02 12:57] erciccione commented on #27
Thanks for the ideas @Mansarde , hopefully somebody will create some samples.

@Jasonhcwong the 'Monero Heart' is just a placeholde, i took it from themonera.art, but would be nice to have an actual personalized logo.

[2019-03-06 02:19] lh1008 commented on #25
Sounds interesting :) :+1:

[2019-03-06 04:35] lh1008 commented on #27
![monero-ecosystem](https://user-images.githubusercontent.com/7443480/53856265-3bf87780-3f9f-11e9-9b38-0f1dc178d349.png)

[2019-03-06 08:24] normoes commented on #25
I am all for it. It seems to be a good library to get the complete set of functionalities.

You should consider to integrate [`python-monerorpc`](https://github.com/monero-ecosystem/python-monerorpc) as your RPC backend.

[2019-03-06 08:40] xmrdsc commented on #25
+1

[2019-03-06 14:42] erciccione commented on #25
@emesik contact me so we can organize the transfer :)

[2019-03-08 09:19] emesik commented on #25
@erciccione let's do it. I can't find any address to contact you directly. Shall I just initiate _Transfer ownership_ action?

[2019-03-09 13:36] erciccione commented on #25
Great. Yes, you can just transfer ownership to monero-ecosystem.

FYI: a list of ways to directly contact me: https://github.com/monero-ecosystem/monero-translations#contacts

[2019-03-21 15:41] erciccione commented on #25
[Announced on GitHub](https://www.reddit.com/r/Monero/comments/b3s0eb/monero_python_a_comprehensive_python_module_for/) and opened #28 .

The migration is complete.

[2019-03-21 15:41] #25 closed

[2019-04-07 16:35] erciccione commented on #21
I hope i will be able to set up a simple github page soon. In the meantime, if somebody feels inspired, feel free to start :)

[2019-04-07 16:43] erciccione commented on #27
Posted on reddit: https://www.reddit.com/r/Monero/comments/bai6pi/the_monero_ecosystem_project_needs_a_logo/

[2019-04-08 13:45] xmrdsc commented on #27
It's not a logo but here is a bird

![](https://i.redd.it/bjyh62ncxtp21.jpg)

Hope it helps.

[2019-04-09 10:51] erciccione commented on #27
We have a proposed logo and banner from Themonera:

https://www.themonera.art/2019/04/08/proposal-monero-ecosystem-logo/

I personally like this one, but let's see other proposal. @rehrar told me he will come up with an idea as well :)

[2019-04-09 11:05] el00ruobuob commented on #27
I like Themonera's logo!

[2019-04-14 11:26] erciccione commented on #27
Do we have any other proposed logo? If not i would go for themonera's one.

[2019-04-20 16:18] erciccione commented on #27
Opened #29

[2019-04-21 16:32] erciccione commented on #27
Logo updated. Take a look at the new readme!

[2019-04-21 16:32] #27 closed

[2019-04-21 16:45] erciccione commented on #27
I invite all members of the Ecosystem (@monero-ecosystem/maintainers) to make their membership public (https://github.com/orgs/monero-ecosystem/people). Let's increase the visibility of the project showing off our new logo :)

[2019-04-23 14:02] erciccione opened #30 "Add erciccione as maintainer of dont-buy-monero-sticker"
See monero-ecosystem/dont-buy-monero-sticker#17

[2019-04-23 14:16] erciccione opened #31 "Merge `monero-meetup-kit-localization` and `Monero-Flyer` with `outreach-docs`"
The "monero-meetup-kit-localization" and "Monero-Flyer" repos will be merged with the "outreach-docs"  repo. This issue will be used to track the progresses.

Related issues: monero-ecosystem/monero-meetup-kit-localization#34 and monero-ecosystem/Monero-flyer#2

[2019-04-23 14:19] erciccione commented on #21
I won't be able to work on a github page in the near future, i'm really too busy for that. If soembody feel like it, would be really great to have even just a minimal website with the list of the repositories and the readme as landing page.

[2019-04-24 07:53] Lafudoci commented on #21
@erciccione, what about this one?
I don't have much experience of making webpage. But I found there are [some pretty theme template](https://github.com/willianjusten/cards-jekyll-template) we could use. So I spent some time to build this demo page. Seems feasible to me. If you like it, I'll try to finish it.
![demo](https://user-images.githubusercontent.com/10460270/56641474-07a05e00-66a8-11e9-8f6

[2019-04-24 13:01] erciccione commented on #21
That looks simple and very cool! I like it, if you could work on it would be awesome @Lafudoci :)

[2019-04-24 13:44] lh1008 commented on #21
Looks good :).

[2019-04-24 16:13] erciccione commented on #31
Edited issue to include "outreach-docs".

[2019-04-24 16:18] erciccione opened #32 "erciccione new co-maintainer of `dont-buy-monero-sticker`"
Related issue: monero-ecosystem/dont-buy-monero-sticker#17

I'm rewriting the readme, i will add this change in the PR. Opening this issue to announce it to the Monero Ecosystem community and to track the progresses.

[2019-04-24 17:33] erciccione commented on #32
I'm stupid and forgot i opened #30 yesterday -.-

[2019-04-24 17:33] #32 closed

[2019-04-25 04:37] Lafudoci commented on #21
@erciccione OK, I'll work on it. First, we need to create a new repo "monero-ecosystem.github.io" for github page to work. But I don't have enough permission for creating repo. Could you do it for me and allow me to upload files to that repo? Thanks.

[2019-04-25 10:14] erciccione commented on #21
@Lafudoci I created [monero-ecosystem/monero-ecosystem.github.io](https://github.com/monero-ecosystem/monero-ecosystem.github.io) (virgin repo) and added you as admin there :).

[2019-04-25 13:43] Lafudoci commented on #21
Page pushed! @erciccione

https://monero-ecosystem.github.io/

Some thing have been done:
- Clean template
- Customize layout for Monero Ecosystem projects
- Make all repo's readme into project markdown posts
- Picked some hightlight image for project post
- Add repo maintainer attribute in each project posts

To be done:
- Make a readme to document how to add/edit project posts

ps. All project p

[2019-04-25 14:23] erciccione commented on #21
Awesome, thanks @Lafudoci, that looks very cool. :) At this point we have a lot of cool stuf happening all at the same time. I will push the edited reame today and suggest a couple of changes to the website, then we can announce it!

[2019-04-25 14:44] lh1008 commented on #21
This looks great, amazing :)! Thanks @Lafudoci.

[2019-04-25 15:01] erciccione commented on #21
Got the domain :)
[moneroecosystem.org](http://moneroecosystem.org)

[2019-04-25 15:07] Lafudoci commented on #21
@erciccione I have set the CNAME. So point the domain to 185.199.108.153 then it should work.

[2019-04-26 17:11] #30 closed

[2019-04-29 12:47] erciccione commented on #21
The website is online :)

[2019-04-29 12:47] #21 closed

[2019-05-05 16:20] #31 closed

[2019-05-05 16:26] erciccione commented on #31
Readme updated and repository removed. In the future would be better to just archive obsolete/non developed repositories or transfer them somewhere else, to keep the history of issues and pull requests.

Not a big deal in this case since the two repos history, from the point of view, was almost non-existent and commit history has been preserved

[2019-05-10 11:12] omani opened #35 "Add go-monero-rpc-client repository"
hello dear monero community,
I have written a client for the monero RPC (wallet and daemon) in golang.

I'd like to add it to the monero ecosystem :)

you can find my repository at https://github.com/omani/go-monero-rpc-client/

[2019-05-10 12:23] erciccione commented on #35
Hi @omani, thanks for reaching out! I took a quick look and the code looks really well commented, but I'll let the other maintainers with more coding expertise to give their opinion on the code itself. I can just say that i haven't seen an implementation in golang of the RPC wallet and daemon and i think would be cool to have it in the Ecosystem :)

Pinging maintainers as for our governance system

[2019-05-10 13:31] Lafudoci commented on #35
Having new implementation is always a good step for ecosystem. The project looks well documented, good job! `ACK`

[2019-05-13 19:50] rbrunner7 commented on #35
Nice work. This could have the potential to become *the* preferred Go bindings for the Monero wallet RPC.

But something bothers me, just out of principle. Maybe I am oversensitive here, but still:

I happen to work intensively with Ochsenhofer's [go-monero package](https://github.com/gabstv/go-monero) for the last 3 weeks or so and have even added some still missing calls myself in my so-far loca

[2019-05-16 11:23] omani commented on #35
hi @rbrunner7 yes it is a fork. I extended it to have all methods of the recent version of the monero rpc.

I think I understand what you mean. I didn't respect the copyright of the project I forked from. I will fix that by including the MIT license file of him.

this is due to the lack of my understanding of the MIT license. pardon me.

[2019-05-16 11:25] omani commented on #35
I've fixed the LICENSE file. :+1:

[2019-05-16 15:50] rbrunner7 commented on #35
Nice, that's the reasonable and respecting reaction that I hoped for :)

I am no specialist in licensing, but as your extensions after forking are quite substantial, I think it would be appropriate to list both you and Ochsenhofer now as copyright holders, along the lines mentioned in this [StackExchange answer](https://softwareengineering.stackexchange.com/questions/386582/altering-author-names-i

[2019-05-16 19:26] omani commented on #35
thanks for the information. I've put me in there as you suggested.

[2019-05-18 11:13] rbrunner7 commented on #35
I have now looked over the code and saw nothing suprising or even suspicious: It is what it says it is, and it's nice to have now such complete and nicely commented Go bindings. I vote for inclusion into the Monero Ecosystem.

[2019-05-18 16:11] erciccione commented on #35
Thanks @Lafudoci and especially @rbrunner7 for the deep analysis.

I consider the proposal approved.

I'm gonna leave this open for 24 more hours in case somebody else have a last minute comment, then we can start the transfer @omani :).

[2019-05-19 15:09] erciccione commented on #35
@omani I added you as a member of the Monero Ecosystem project. From now on, you'll be able to express your vote anytime is necessary to reach consensus to make a decision (for example, when adding and removing repositories from the Ecosystem). See our goverance system for more info.

After accepting the invitation, you will be able to transfer the repository. Please ping me here when done. Thank

[2019-05-19 15:15] Lafudoci commented on #35
@omani Please also take a look at our [ecosystem page](https://github.com/monero-ecosystem/monero-ecosystem.github.io). Feel free to add your repo card if you like it.

[2019-05-19 21:16] omani commented on #35
hi @Lafudoci,
I've transfered my repo to the monero-ecosystem. I want to create a markdown file in _posts but I just can't figure out what my maintainer_uid is. any idea where I can find this uid?

[2019-05-19 23:02] omani commented on #35
I opened a PR on the ecosystem page repo.

[2019-05-20 10:27] erciccione commented on #35
Repo added in the readme with #36 and [Announced on reddit](https://www.reddit.com/r/Monero/comments/bqtrj5/gomonerorpcclient_a_client_for_the_monero_rpc/). Welcome @omani :) !

If you want, please set your membership to the Ecosystem as public [here](https://github.com/orgs/monero-ecosystem/people), so that you will have the "Monero Ecosystem" badge on your profile and the project will be more vi

[2019-05-20 10:27] #35 closed

[2019-05-20 21:08] shermand100 opened #37 "Handover of PiNode-XMR to the community"
I think the Monero community would benefit greatly from a plug and play Full node that can run on a small low power device 24/7 such as the Raspberry Pi (other boards can easily be adapted to from this project).
It would be a great asset for a user to run their own node they can trust and connect to for making transactions as Privately as possible.

I've built the foundations for this but am at my

[2019-05-22 10:36] erciccione commented on #37
Hi @shermand100, thanks the project is interesting. If i understood, you are looking for somebody to help you with the development of the project here on the Ecosystem. That's actually great and one of the reason this project was created.

What skills should a maintainer have to help you with this project? What need to be done?

@monero-ecosystem/maintainers one of you might be interested?

[2019-05-22 12:48] Lafudoci commented on #37
@Jasonhcwong has a related project [monerobox](https://github.com/monero-ecosystem/monerobox) within ecosystem, maybe you could consider to collaborate. Find a way to combine these resources for an similar goal would be a good step.

[2019-05-22 12:53] erciccione commented on #37
I don't know the differences between the two projects, but if they are similar enough, this sounds like the best solution to me.

[2019-05-22 13:28] shermand100 commented on #37
They are similar projects but currently operate on different hardware. I'd like the stick with the Raspberry Pi device as it's cost and availability are attractive and raspberry-pi org have been very predictable with backwards compatibility of devices assuming this will continue as they release more powerful models.

I spoke with Jasonhcwong about 3 months ago via reddit and we had slightly differ

[2019-06-03 19:53] vorot93 opened #38 "Add monero-rpc-rs to Ecosystem"
This is a Rust client for the wallet and daemon RPC that I created for the purpose of easy and type-safe integration of Monero into Rust-based web services. While it closely mirrors jsonrpc protocol documented in the Developer guides, it strives to be as Rust-idiomatic as well.

https://github.com/vorot93/monero-rpc-rs

[2019-06-04 12:35] erciccione commented on #38
Hi @vorot93 , thanks for reaching out :)

Let's ping the @monero-ecosystem/maintainers and see what they think about it.
This would be also the first repository in Rust. monero-rpc-rs would be a nice addition to our pool of programming languages.

[2019-06-06 04:17] normoes commented on #38
I think, the more integration into different languages the better.
Could be the starting point for other projects written in Rust.

[2019-06-10 21:53] lh1008 commented on #38
Agree with @normoes :+1:

[2019-06-13 13:02] erciccione commented on #38
Thank you @normoes @lh1008 . I'm gonna wait a couple more days before labelling this as "accepted", some more feedbacks would be appreciated.

[2019-06-16 09:08] erciccione commented on #38
Thank you for your feedback @normoes @lh1008 :)

@vorot93 It's ok to be added for me, if you intend to keep the repository updated :)

[2019-06-16 21:56] vorot93 commented on #38
@erciccione I do although hopefully I won't be alone. :)

[2019-06-17 09:11] erciccione commented on #38
Since there are no other comments, we can consider this repository approved.

@vorot93 I sent you an invitation to become member of the team, please accept. After, you can start the transfer of the repository to the monero-ecosystem project. See https://help.github.com/en/articles/transferring-a-repository.

Once the repo is transferred, you are at all effect a member of the Ecosystem project, and

[2019-06-17 09:15] erciccione commented on #37
@shermand100 I suggest to post on reddit.com/r/monero asking for feeback. Much wider audience there.

[2019-06-17 09:42] erciccione commented on #38
The repo is transferred. I'm gonna add it to the meta repo and then announce it.

@vorot93 Please make your membership public here: https://github.com/orgs/monero-ecosystem/people. So that you will have the Monero Ecosystem badge on your profile. That will help to give some visibility to the project.

[2019-06-18 14:25] erciccione commented on #38
Announced on [Reddit](https://www.reddit.com/r/Monero/comments/c22tnf/a_new_project_joins_the_monero_ecosystem/) and [Twitter](https://twitter.com/calciferciccio/status/1140988214586552320).

This issue is resolved :)

[2019-06-18 14:25] #38 closed

[2019-06-18 14:31] erciccione opened #40 "Divide the repositories in the readme by category"
Right now they are in chronological order, but i think would be better to have them separated into different categories, for example 'Documentation', 'RPC clients', etc. The order in which they were included in the Ecosystem is not really important.

[2019-06-26 17:59] Equim-chan opened #41 "Add vanity-monero repository"
vanity-monero is a CLI tool that generates vanity Monero address.

See https://github.com/Equim-chan/vanity-monero and https://www.reddit.com/r/Monero/comments/8o8wdz/i_just_wrote_a_vanity_address_generator_for_monero/

[2019-06-27 13:16] erciccione commented on #41
I approve this project. It doesn't need much maintainance or updates and it's something very cool to have in the Ecosystem. Thak you for proposing it @Equim-chan :)

Let's see what the other members have to say: @monero-ecosystem/maintainers

[2019-06-27 17:24] xmrdsc commented on #41
I've used this in the past and it is excellent.

[2019-06-28 14:52] lh1008 commented on #41
Oh, this is interesting. It would be nice to try it out. There are so many things to learn. Approve :+1:

[2019-06-28 18:19] normoes commented on #41
I also very much like the idea. It's like eschalot (onion vanity hostnames) for monero addresses ;)

[2019-07-02 11:33] erciccione commented on #41
Looks like we have a clear consensus at the moment. Waiting 24 more hours before labelling as approved and starting the transfer :)

[2019-07-03 10:15] erciccione commented on #41
@Equim-chan I sent you an invitation to join the maintainers of the ecosystem, please accept, so that you can start the transfer of the repo. Ping me here when done plase.

[2019-07-03 10:17] Equim-chan commented on #41
Transfer is done.

[2019-07-03 10:33] erciccione commented on #41
Perfect. Welcome to the Monero Ecosystem Project @Equim-chan. I invite you to add your project to moneroecosystem.org, it will only take some minutes. The repository is [here](https://github.com/monero-ecosystem/monero-ecosystem.github.io).

I'm gonna add the project in meta.

[2019-07-03 10:39] erciccione commented on #41
#42 is merged, now we only need to announce the new repo. I will do it later today.

[2019-07-07 11:02] erciccione commented on #41
Got caught in other things and didn't have time to do it before, done it now.
Announced [on reddit](https://www.reddit.com/r/Monero/comments/ca5n3c/create_your_personalized_monero_address_with/) and [twitter](https://twitter.com/calciferciccio/status/1147822481731936256)

@Equim-chan I invite you to set your membership in the Ecosystem as public, so to give visibility to the project. You are also

[2019-07-07 11:02] #41 closed

[2019-07-10 21:04] omani opened #43 "Monero CCS Proposal out for a new project of mine"
Hi guys,
I would like to bring to your attention my freshly created CCS Proposal for a new project of mine:

The Monero Tip Bot for Telegram.

Notice the section where I mention the Monero Ecosystem and my plan to put this project under the umbrella of the Monero Ecosystem, like I did recently with my Go Monero RPC Client.

https://repo.getmonero.org/monero-project/ccs-proposals/merge_requests/86

[2019-07-12 11:14] erciccione commented on #43
Thank you for letting us know @omani, especially since the Ecosystem is mentioned. i will comment.

[2019-07-12 16:23] tioann opened #44 "Monero BIP39 support"
Now that Coinomi has provided support for Monero BIP39 derivations, feel free to add the (MIT-licensed, fully open source) repo, in specific the monero branch.
This is a useful tool but it also demonstrates compiling some basic Monero code to webassembly which can be used as a basis for real wallet implementations, not the usual RPC-based stuff.

Repo: https://github.com/Coinomi/bip39
Ready for of

[2019-07-13 12:25] erciccione commented on #44
Hi @tioann thanks for opening this issue.

This sounds interesting and i personally wasn't aware of its existence. I have one main concern: the Ecosystem is composed by repositories which are maintained and developed on the Ecosystem. I see the part related to Monero is in a branch of the bip39 repo of the coinomi project. Are you a maintainer of this project? If yes, would you be willing to creat

[2019-07-17 14:43] tioann commented on #44
To make this clear, you are suggesting that a new project is created under the Monero Ecosystem where the code will live and I do the maintenance for it.
This is perfectly acceptable to me and I would be happy to take on the task. Do let me know if there are any other considerations.

[2019-07-18 13:59] erciccione commented on #44
Yes, this is how the Monero Ecosystem works, please read the readme of this repo for a clear explanation of this project.

Also, it's still not clear to me your role in coinomi's bip39 repo. Could you answer to these concerns?

[2019-07-18 22:11] tioann commented on #44
I am, on behalf of Coinomi, the creator of the Monero BIP39 branch. The code is freely available and MIT licensed so creating a repo for this under Monero Ecosystem is not a problem. I am willing to support this code inside the Monero Ecosystem as an individual and I am pleased to do my (small) part in supporting Monero.

[2019-07-19 08:27] Lafudoci commented on #44
BIP39 compatible is a nice step for Monero to be integrated in multicoin wallet. I'll happy to see it join ecosystem. But I agree with @erciccione , this tool should be in a dedicate repo. And better to have more customized and precise readme content to avoid confusing. e.g., the online version points to iancoleman.io, but actually it doesn't support Monero yet.

[2019-07-20 00:09] dginovker opened #45 "Add MoneroTipper, the non-custodial Reddit tip bot, to the Ecosystem!"
This is a tipping service I've been working on for months now, always polishing the UX and constantly adding more features. It is built using monero-python, is non-custodial so users have access to their private keys, and has over 40 Reddit users (and counting).

You can see the version history in the readme of the repo below, and v0.8 will also be coming out soon :)

https://github.com/dginovker/

[2019-07-20 10:47] erciccione commented on #45
I've been following this project for some time and i greatly appreciate the effort behind it.  iwill be happy to see it part of the Ecosystem.
Thank you for proposing it @dginovker, you have my ACK :)

@monero-ecosystem/maintainers please voice your opinion.

[2019-07-20 19:38] omani commented on #45
welcome to the ecosystem @dginovker. ACK!

[2019-07-21 12:14] erciccione commented on #44
@tioann could you give some info about this? i don't see the value in adding the repo if it's not working right now.

[2019-07-21 14:40] tioann commented on #44
My understanding was that the Monero Ecosystem project would be the dedicated repo. Maybe you mean the Monero Ecosystem repo to be a fork of an existing one where the Monero BIP39 code is in the master branch?

BIP39 support is definitely useful for multicoin wallets but may also be of use for Monero-only users with Ledger/Trezor devices.

The code is fully functional. Source code (with wasm gener

[2019-07-21 16:33] Lafudoci commented on #44
@erciccione  Sorry, maybe I didn't make it clear. The BIP39 is supported on [coinomi version page](https://coinomi.github.io/bip39-monero/?coin=XMR) which is good work. But the [repo readme](https://github.com/Coinomi/bip39/tree/monero) only shows the [iancoleman version page](https://iancoleman.io/bip39/). So my suggestion was making a up-to-date readme with a dedicated repo for transferring to e

[2019-07-21 16:40] Lafudoci commented on #45
ACK, nice project.

[2019-07-21 20:20] tioann commented on #44
@Lafudoci Indeed, I took very little time updating the README, I just added a preface with a comment without going into details. It seems to be a common pattern with many forks and I guess it helps with rebasing. I will gladly add more info there.

So, do I need to create a repo under my account that will be forked my Monero Ecosystem? I did go through the Ecosystem README but that part is not ent

[2019-07-22 08:55] Lafudoci commented on #44
I could understand, I was just saying the problem should be addressed.

Yes, a new repo contain all the thing inside. If it's approved later, the repo owner will be transferred to Monero ecosystem. You'll become ecosystem member as well to maintain the repo.

[2019-07-22 16:12] erciccione commented on #44
Sorry i completely misunderstood that statement earlier.

About the repo, yes, as lafudoci says. @tioann You should create a repo in your github profile from the branch "Monero" of the coinomi repo. Then we can vote to transfer it and maintain it on the ecosystem.

Sorry about that. I will check the readme and clarify that point.

[2019-07-23 08:33] normoes opened #46 "Get hard fork date"
I have written a script to extract past and future (if available) hard fork dates.

It extracts the dates from `/src/cryptonote_core/blockchain.cpp` in the `monero` repository:
* The repository `branch` can be configured (`master`, `release-v0.14`).
* The `network_mode` can be configured (`mainnet`, `stagenet`, `testnet`).
* The `daemon` can be configured (`node.xmr.to`).
  - This is used to get t

[2019-07-24 10:44] erciccione commented on #46
Thank you for proposing this @normoes. I'm not sure if would be a good addition to the Ecosystem. I see its utility, but at the end every hard fork date is posted in the [readme of the Monero repo](https://github.com/monero-project/monero#scheduled-software-upgrades). i see the potential use in those countdown and somebody might find it useful and implement it in their website/service.

I don't kn

[2019-07-24 10:46] normoes commented on #46
To be honest, I have the same feelings about it.
I also am neutral :)

[2019-07-24 21:24] lh1008 commented on #46
Hi,

Well is kind of a fun script. I remember several times entering to the website to see the hard fork date.

We might find a specific repository for fun projects. Not sure what will happen with RandomX algorithm change, this could then be "lost" forever...(no longer hard forks, that is what I meant, the code will still be there) >:(

**Inside the church we have a plan to create a universal Mone

[2019-07-25 04:07] normoes commented on #46
@lh1008  Is there a "church" repository somehwere?

[2019-07-25 13:29] selene-kovri opened #47 "primo (private monero payments)"
Hi,

I've just released software for monero, see:
https://github.com/selene-kovri/primo-apache
https://github.com/selene-kovri/primo-firefox
https://github.com/selene-kovri/primo-control-center

Is this the kind of thing you're after ? I2P IRC is dead so I can't even tell the good Monero people about it, so moving it to this monero-ecosystem place seems like the next best thing :)

[2019-07-25 20:54] NoThisIsPatrik commented on #46
Has anyone bumped into actual examples of these ASICs? It's not that I
doubt their existance exactly, but the whole net is full of people
repeating that monero did something to avoid them again. I've seen a few
discussions about fpga, mostly saying that the old CN had a flaw in
calculating next address, which probably referrs to that you can know the
first itteration of each block (using the first

[2019-07-26 10:14] erciccione commented on #47
Hi @selene-kovri, thanks for reaching out. Sorry to hear i2p IRC is not working. It used to be used by a couple of people until not long a go, i will ask around if anybody know something about it.

About the projects: if i got them right, they are all based on web mining monero. The problem is that after RandomX web mining will be even less feasable than now, and i don't know if your projects woul

[2019-07-26 10:29] erciccione commented on #47
@dEBRUYNE-1 righfully pointed out that i could be wrong about this: `i could be wrong about this: `after RandomX web mining will be even less feasable than now`. if somebody else could clarify that, would be great`. Waiting for somebody able to clarify. @hyc or @sech1 maybe?

[2019-07-26 10:33] selene-kovri commented on #47
It's not what you call "web mining" I think. The mining is done by a native miner, not some Javascript code in the browser. The code that runs in the browser is only a thin layer that acts as glue between the website and the Qt UI. In theory, the native miner can run full speed, though it is currently a single thread.

My goals are to have other people start contributing to this since I sinked a l

[2019-07-26 11:00] rbrunner7 commented on #47
I am not sure but I think the daemon extension that you rely on (see https://github.com/monero-project/monero/pull/5357) has seen quite some changes lately as it was going through review and refinement. Did you follow that? Is your software still compatible with the latest version of that PR?

[2019-07-26 11:09] selene-kovri commented on #47
I don't know yet, but it will be :)

[2019-07-26 11:17] erciccione commented on #46
We are going a bit off-topic here :). Please let's keep the conversation about only this issue. i encourage to use `#monero-ecosystem` for light or non-focused discussions.

[2019-07-26 13:12] NoThisIsPatrik commented on #46
Oh oops, I thought that’s what this was connected to.

On Fri, Jul 26, 2019 at 6:17 AM erciccione <notifications@github.com> wrote:

[2019-07-26 13:15] normoes commented on #46
Sorry no :) This script only parses the file `/src/cryptonote_core/blockchain.cpp` in the `monero/project/monero` repository andextracts the hard fork dates.

[2019-07-26 19:27] lh1008 commented on #46
@normoes:
https://repo.getmonero.org/churchofmonero
https://github.com/church-of-monero

[2019-07-28 13:16] erciccione commented on #47
So, since there are no further comments, we can start the vote for adding Primo to the Ecosystem @monero-ecosystem/maintainers. As said in the comments above, the 3 repos will be unified in just one, and that one would be added to the Ecosystem.

[2019-07-28 13:23] erciccione commented on #47
I tend to be positive about this project. I really like that somebody started building on top of monero-project/monero#5357 because that's a feature i think could have a big positive inpact on how Monero is used and could potentially give the kick to start small business based on Monero.

Beside that, i think it's fundamental that this project is constantly maintained if it want to be succesful an

[2019-07-28 13:44] erciccione commented on #44
@tioann to move forward with this i suggest you to create the repository based on coinomi/bip39 (Monero). So that we can see the repo that would be actually moved to the Ecosystem and we can vote on something "tangible" :).

[2019-07-28 13:46] erciccione commented on #45
One week has passed and we have 3 `ACK` and no `NACK`. I consider this **approved** :).

Thank you for the members who reviewed and voted on this proposal. @dginovker we can start the migration whren you are ready.

[2019-07-30 11:47] selene-kovri commented on #47
No changes were needed, it works well with the latest version of that PR.

[2019-07-31 15:53] NoThisIsPatrik commented on #44
@tioann Ok, I think I'm missing something here, the coinomi webpage bip39,
monero branch isn't *actually* bip39, right? I presumed it was the "normal"
(for XMR, abnormal anywhere else) bip39-similar-but-not-compliant monero
mnemonic-to-seed thing, but looking back through the discussion, coinomi
(i.e. tioann/you when it comes to the monero branch) it keeps being
referred to as BIP39. That might so

[2019-07-31 17:14] tioann commented on #44
@NoThisIsPatrik you are correct with your nitpicking for BIP39. BIP39 only really supports the original bitcoin curve. The defacto answer to this is to perform the derivation as described in BIP39, perform an extra SHA3 on the result (presumably to reduce any sekp256k1 bias) and finally perform a reduction to a valid ed25519 point (via function sc_reduce32). We use the same scheme in Coinomi and I

[2019-07-31 17:36] NoThisIsPatrik commented on #44
Indeed it does, thank you. Didn't realize it was a wide enough issue (or
honestly *a* issue beyond monero) to warrant a more general-case solution.
Nicely done.

On Thu, Aug 1, 2019 at 1:14 AM tioann <notifications@github.com> wrote:

[2019-07-31 19:31] tioann commented on #44
@erciccione I plan on creating the repo this weekend (probably Sunday). Once it is done I will ping you here to move the process further.

[2019-08-01 08:59] erciccione commented on #45
ping @dginovker

[2019-08-01 12:08] dginovker commented on #45
Sounds good to me - can I get repository rights so I can begin the transfer?

[2019-08-01 22:27] lh1008 commented on #45
`ACK`

[2019-08-02 08:51] erciccione commented on #45
@dginovker i sent you the invitation. You can transfer the repo after you accepted it. Please ping me when done.

[2019-08-02 12:50] dginovker commented on #45
@erciccione Transfer complete - https://github.com/monero-ecosystem/MoneroTipper

[2019-08-02 13:38] erciccione commented on #45
Great, now only needs to be added to this repo and in https://github.com/monero-ecosystem/monero-ecosystem.github.io. It also has to be announced. I'll take care of the PR in the meta repo, do you want to announce it yourself on reddit? if you do, please include a brief explanation of the Ecosystem (can be pulled from [my last announcement](https://old.reddit.com/r/Monero/comments/c22tnf/a_new_pro

[2019-08-02 14:28] omani commented on #45
the only problem I have is the description of the bot. like I mentioned this before, this is not a non-custodial bot. I let the author of the project decide if he wants to stick to this description. but I just wanted to mention it again. it is really hard to do a non-custodial version of a tip bot. and I've looked at the code of this bot a few weeks ago. it is definitely not non-custodial. Imo, st

[2019-08-02 15:06] dginovker commented on #45
@erciccione I'm good with you doing the announcement.

@omani I did a lot of research on what constitutes "custodial", and there's no firm definition out there. However, based on FinCEN's guidelines of what clearly constitutes custodial, the bot is outside of the category for providing users with their own private key.

From [page 15](https://bico.media/1f8e0c5f47b470f3df0f06f3d2939adccc1f2b7dafa0

[2019-08-09 10:06] erciccione commented on #44
@tioann any update?

[2019-08-09 10:08] erciccione commented on #46
Some time has passed and seems like there isn' interest in adding this project to the Ecosystem. So, i'm considering it rejected. @normoes please close the issue :)

[2019-08-09 10:11] erciccione commented on #47
@selene-kovri Could you merge the 3 projects in one single repo as said? so that our members/maintainers have a clear idea of what is going to be added to the Ecosystem.

[2019-08-09 10:25] erciccione commented on #45
@dginovker i just noticed you have a local fork in your personal repository (dginovker/MoneroTipper) which has some commits. It's usually not a good idea to have a personal fork, because all links between the transferred repo and the personal repo are broken. Btw, the important thing is that i noticed you pushed some commits to your personal fork, but not on the repo in monero-ecosystem/MoneroTipp

[2019-08-09 11:24] erciccione commented on #45
Announced [on reddit](https://old.reddit.com/r/Monero/comments/co106v/the_monerotipper_reddit_bot_has_joined_the_monero/) and [Twitter](https://twitter.com/calciferciccio/status/1159787174268723201). We can consider the migration concluded. @dginovker please close the issue if everything is ok.

[2019-08-09 12:30] normoes commented on #46
Understood.

[2019-08-09 12:30] #46 closed

[2019-08-10 19:17] selene-kovri commented on #47
They already are.

[2019-08-11 13:42] tioann commented on #44
Hey! I have been pretty busy with work and I didn't have the time to work on this. I am going to have the repo ready today.

[2019-08-12 17:01] tioann commented on #44
Here is the repo, initial commit. I still need to update the readme to something more reasonable but it is otherwise ready:

https://github.com/Coinomi/bip39-monero

[2019-08-14 10:15] erciccione commented on #44
Thank you @tioann. I think we can start with the actual vote.

@monero-ecosystem/maintainers please let know your opinion and feel free to make questions

[2019-08-14 14:53] #45 closed

[2019-08-14 16:58] dginovker opened #51 "Add Monero-History-Box, a reskin of the original Candybox idle game, to the Monero Ecosystem!"
I've been working on [Monero-History-Box](https://github.com/dginovker/Monero-History-Box) for some time now, and it's in a fairly playable state. The game is a recreation of [Candybox](https://candybox2.github.io/candybox/), and will hopefully continue expanding with great memes and references to historical components of the Monero community.

It's a little different from most ecosystem projects;

[2019-08-16 09:21] erciccione commented on #51
Thank for the proposal @dginovker . Is there a demo of the game online?

@monero-ecosystem/maintainers

[2019-08-21 01:30] dginovker commented on #51
Not right now, but I'll post an update when there is.

[2019-08-21 06:37] normoes commented on #51
The general idea is great.
Learning by doing in away.

I also would like to see a demo :)

[2019-08-23 10:22] erciccione commented on #47
@selene-kovri I still see `primo-apache`, `primo-firefox` and `primo-control-center` in three different repos. Am i missing something?

[2019-08-23 10:24] erciccione commented on #44
There are no clear votes yet. Please Ecosystem members make your opinion known.

[2019-08-23 20:50] erciccione commented on #47
Ok, the repo of the 3 projects merged together is here: https://github.com/selene-kovri/primo

[2019-08-24 03:01] Lafudoci commented on #44
@erciccione The readme still needs to be updated.

[2019-08-25 21:35] tioann commented on #44
Agreed, the README will be updated within the next 2 days. I have also been making some changes to the code to avoid conflicts with other webassembly modules which I will be pushing out too.

[2019-08-31 11:33] erciccione commented on #44
@tioann any news? :)

[2019-08-31 13:29] woodser commented on #44
I support adding BIP39 support for Monero to the ecosystem.  Thanks for your work @tioann.

[2019-08-31 13:45] woodser opened #52 "GitHub Page to be deployed to the JavaScript project with jsdocs"
Just a heads up, a GitHub page containing jsdoc will be deployed to the [monero-javascript](https://github.com/monero-ecosystem/monero-javascript) project over the next few days.  Please let me know if the deployment could interfere with anything.

Perhaps we'd want to reference that documentation somewhere, along with the documentation for the associated [Java](https://moneroecosystem.org/monero-

[2019-09-01 04:25] Gingeropolous commented on #47
this is very cool.  I'm curious how I can set this up. One of these days, with all my free time...

[2019-09-01 09:26] erciccione commented on #52
Thank you for letting us know @woodser, shouldn't interfere iwth anything.

That would be ok i guess, do you have anything particular in mind?

[2019-09-01 09:28] erciccione commented on #52
On an unrelated not, but related to monero-javascript. I get a security alert for your repo (`eslint-utils` needs to be updated)

[2019-09-01 15:28] lh1008 commented on #44
I support adding Monero BIP39 support. :+1:

[2019-09-01 16:54] lh1008 commented on #46
@normoes, church's repos are open if you're still interested. Nice day everyone >:).

[2019-09-04 04:24] normoes commented on #46
@lh1008 I cannot see any open repositories on gitlab and github.

[2019-09-08 09:54] erciccione commented on #44
We have votes enough to consider this approved. @tioann is the readme up to date?

[2019-09-10 03:39] lh1008 commented on #46
@normoes I'll be opening one. Do you have any special name in mind of it?

[2019-09-10 04:45] normoes commented on #46
@lh1008 Thanks. What about hard_fork_date or hard_fork_scraper? :)
The latter maybe describes the use case better.

[2019-09-10 09:44] tioann commented on #44
Niiice! The readme is not up to date but I am working on it along with some
small code refactorings. I have been pretty busy with work these days but
things are a bit more quiet so I will be finishing this soon.

On Sun, Sep 8, 2019 at 12:54 PM erciccione <notifications@github.com> wrote:

[2019-09-14 00:14] dginovker commented on #51
I meant to continue working on this before posting a demo, but since I just haven't actively done so I'll just post the demo here. There's a lot of really cool ideas that can still be done, such as changing the puzzles to be sleek Monero inside jokes, but for now much is still based on the original game: https://monerohistory.github.io

[2019-09-16 08:30] tioann commented on #44
@erciccione I have just uploaded the latest refactorings to the repo and will be uploading the updated README in the next few hours.

[2019-09-16 08:34] erciccione commented on #47
@monero-ecosystem/maintainers What do you think about this project? should be added or not?

I personally am in favour of adding Primo, but we need more opinions from the members of the Ecosystem.

[2019-09-16 08:36] erciccione commented on #44
Thank you for the update. I will open the PR to add this project today. Could you take care of adding it to [the website](https://github.com/monero-ecosystem/monero-ecosystem.github.io)?

[2019-09-16 09:03] el00ruobuob commented on #47
I'm not a maintainer, but I vote in favor.

[2019-09-16 09:15] rbrunner7 commented on #47
I not a maintainer likewise, but would also vote in favor.

[2019-09-16 10:44] erciccione commented on #44
@tioann i sent you the invitiation to join the Ecosystem, please accept and then transfer the repository please.

[2019-09-16 12:01] Jh49211 commented on #47
I love the simplicity of Primo and think that it will great addition if
done correctly; With that being said we need to make sure that it is
compatible with a basic wallet to allow a better UX.

On Mon, Sep 16, 2019 at 6:15 PM René Brunner <notifications@github.com>
wrote:

[2019-09-16 19:46] dginovker opened #53 "Rename "monero-rpc-rs" and "go-monero-rpc-client" to follow more common naming convention"
`monero-javascript`, `monero-python` and `monero-java` all follow the same name to imply they're libraries for the Monero RPC(s) in their respective language, but `monero-rpc-rs` and `go-monero-rpc-client` don't follow suite. Thoughts on changing this?

[2019-09-17 10:15] erciccione commented on #53
I think better ping the maintainers: @omani @vorot93

[2019-09-17 10:24] vorot93 commented on #53
There is already a [monero-rs](https://github.com/monero-rs/monero-rs) library so I will not accept this proposal.

[2019-09-17 10:54] erciccione commented on #53
@vorot93 I don't think it's necessary to close this issue just yet, i'm reopening it. I think a solution can be discussed, beside the fact that we are still waiting for an input from @omani :)

[2019-09-18 02:29] Lafudoci commented on #44
@erciccione @tioann the README is still iancoleman's none-XMR version. Better to have it done before transfer.

[2019-09-18 02:30] Lafudoci commented on #47
Yes, let's add them into the ecosystem :)

[2019-09-18 02:54] Lafudoci commented on #51
Just have played around with the demo. Interesting! I got a iron tier GPU running and overheating LOL. It's a bit weird that purchasing is not by Monero but hashes itself though. IMO it's not ready for transferring yet. I can tell it still needs lots of work. But I'm looking forward to it's potential for sure. It's gonna be fun :)

[2019-09-18 04:49] normoes commented on #47
I also think, that's a very good project to add..

[2019-09-18 09:46] erciccione commented on #47
Thanks everybody for your comments. We have a clear consensus, we can transfer Primo to the Monero Ecosystem :)

Congratulation @selene-kovri, now we need to transfer the repo. I sent you an invitation to become member of the Ecosystem project, you need to accept that before being able to do the transfer.

[2019-09-18 17:39] woodser opened #54 "Create a temporary public repository named OSSRH-51699 in order to verify domain ownership"
In order for Bisq to adopt the monero-java project, Bisq developers have requested its artifacts be uploaded to the Maven Central Repository.  Discussion on that here: https://github.com/bisq-network/bisq/pull/3275

I have opened a request to have those artifacts added to the Maven Central Repository: https://issues.sonatype.org/browse/OSSRH-51699

In turn, the hosting provider has requested that

[2019-09-18 18:30] erciccione commented on #54
Ok for me.

Just FYI. This is possible because the creation of new repos is activated while we wait for the approved projects to be transferred. Usually it's not possible to add new repositories.

[2019-09-18 18:43] tioann commented on #44
I have just uploaded an updated version of the readme.md file, let me know if this works.

[2019-09-18 22:10] woodser commented on #54
Done.

[2019-09-18 22:10] #54 closed

[2019-09-19 02:07] Lafudoci commented on #44
I just tried it through. The readme is clear and the Monero seed works fine. Good job, I believe it's ready for transferring. @tioann @erciccione

[2019-09-19 12:01] erciccione commented on #44
Perfect. Thank you @Lafudoci @tioann

@tioann you now only need to accept the invitiation and transfer the repo :)

[2019-09-20 15:03] tioann commented on #44
I forked the repo under monero-ecosystem, do let me know if all is ok or if I messed up somehow

[2019-09-20 17:32] erciccione commented on #44
@tioann the repository must be *trasferred*, not forked. Otherwise we will have 2 repo about the same thing floating around. As it's written in the readme:

Pleas remove the forked repo and transfer the original one instead :)

[2019-09-24 23:35] omani commented on #53
hi all,
the reason why I chose the name is because of kind of the naming convention known in the go community. wrappers/libs/modules to external things usually start with `go` or `go-` to imply a golang version of the application or third party lib/package.

I like the way it sounds, compact and clear and you know what is expecting you: a golang client for the monero rpc. `go-monero-rpc-client`

:

[2019-09-25 01:14] dginovker commented on #51
Thanks for checking it out.

I know it's a bit far out, but I'll definitely be working on this in May. I'll keep you all posted when I finish another good wave of update :).

Closing for now!

[2019-09-25 01:14] #51 closed

[2019-09-25 01:16] dginovker commented on #53
I'm willing to close this proposal given there is reasoning behind the names. Thanks to @omani and @vorot93.

Close ping @erciccione

[2019-09-25 01:16] #53 closed

[2019-09-25 01:19] dginovker commented on #9
Assuming this is still in discussion almost a year later, I'm in favor of staying on Github. I've contributed to projects on and off this platform, and just the consistency is easier for new and more casual developers.

If there was ever a major project that took over 90% of the ecosystem's focus, I would definitely reconsider my position. But as of now, the majority of the projects are still smal

[2019-09-25 01:23] dginovker commented on #43
Omani's proposal has successfully been merged - Donation link is up, already 10.80/12.00XMR! https://ccs.getmonero.org/proposals/monero-tip-bot.html

[2019-09-25 01:26] dginovker commented on #37
The project is still being kept up to date and is rather neat I find. It's different enough from MoneroBox in some cases and provides people with options between the two. If OP still wants to merge, I support this proposal.

[2019-09-25 15:57] erciccione commented on #43
Good to see it moving forward! Please close the issue as there is nothing more we can do about this.

[2019-09-25 15:58] erciccione commented on #37
@dginovker the problem is that @shermand100 is proposing to hand over the repository to the community and to have this in the ecosystem it would first need a maintainer willing to work on it.

[2019-09-25 16:00] erciccione commented on #9
@dginovker i think in any case this issue is stalled until monero-project/meta#236 is resolved. So let's just wait and see. In the present situation i too agree we should stay on GitHub.

[2019-09-25 16:58] shermand100 commented on #37
@erciccione To clarify, this is and still will be my main project to develop. However this is my first project I've undertaken from the ground up, and at each step I have had to learn how each component works and trial and error solve fixes. As I add more features which require more complex scripts and configurations I don't believe I currently have the experience required to produce the quality e

[2019-09-25 17:56] omani commented on #43
thank you all for your support!

[2019-09-25 17:56] #43 closed

[2019-09-26 17:21] erciccione commented on #47
ping @selene-kovri

[2019-09-27 19:43] tioann commented on #44
@erciccione Well, the part "not cloned or mirrored but moved" is a bit of an issue. It was my misunderstanding that I missed it. I could definitely argue for Coinomi to have the repo moved but personally I am not convinced this is the right thing to do for Coinomi. It would be a totally different situation if this was a personal project. So I am at a bit of a loss on what to do here. Maybe moving

[2019-09-28 08:03] erciccione commented on #44
@tioann please read carefully the readme of this repository. We could easily fork any repo we would like to have and automatically pull changes from upstream, but that's not what the Ecosystem project is. The point is to build a community of Monero developers and to have a cluster of projects maintained by these developers.

I'm removing the cloned repository, please let us know how would you like

[2019-10-04 22:53] omani opened #55 "Do we have a youtube account?"
hi folks,
do we have a youtube account? I would like to be able to publish my videos related to my projects to a common place on youtube. favorably a monero-ecosystem youtube channel.

do you like this idea? if not, where can I upload videos to my projects and link them in eg. my readmes, links, etc. (in regards to the monero-ecosystem)?

if you do like the idea, let's talk about who will control

[2019-10-05 09:37] erciccione commented on #55
We don't have one, but we can create it. I thought about opening a twitter account some time ago, where @monero-ecosystem/maintainers can publish new releases and announcements for their project. I didn't do it because i wasn't sure it would have been used.

If you plan to use the channel, i think would be a good idea to create it. Each of us could use it and maybe the credentials could be shared

[2019-10-07 09:37] erciccione commented on #47
@selene-kovri wrote me yesterday on `#monero`. Appearently GitHub kicked her out for some reason and she is not able to log in again. She decided to drop it and use GitLab instead. The Primo repository is now here: https://repo.getmonero.org/selene/primo

Since Primo cannot be moved to the Ecosystem project anymore, i'm closing this issue.

[2019-10-07 09:38] #47 closed

[2019-10-07 09:40] erciccione commented on #44
@tioann Please let us know something soon, otherwise i will just close this issue.

[2019-10-07 18:02] omani opened #56 "Monero Tip Bot ready to launch on Mainnet / Discussion"
hello dear monero-ecosystem,

the funding of the monero tip bot is almost done and many milestones were reached.

I took the time to do some refactoring (since I will open source it as stated in the CCS). I want to let it run for a final testing on stagenet for a while to see the outcome of the refactoring.

meanwhile....

I want to use the chance to discuss a very important topic and that topic i

[2019-10-10 23:14] omani opened #57 "Add: go-xmrto-client repository"
hi folks,
another repository of mine. A xmr.to client written in go.

https://github.com/omani/go-xmrto-client

feel free to ask questions or give feedback.

cheers!
sun

[2019-10-11 09:54] erciccione commented on #56
Hey @omani thank you for you trust, but i think there are some misconceptions about what's the role of the Ecosystem project.

This is not really the case. The core team is deemed trusted because all the members have been around for years and they worked deeply enough with monero to be considered worth of trust. The Ecosystem is much different from this point of view (besid being very new). We don

[2019-10-11 09:56] erciccione commented on #57
ping @monero-ecosystem/maintainers

[2019-10-11 10:07] erciccione commented on #44
Well, No answer for more than 2 weeks, i'm closing this issue. If some of the maintainers feel this should stay open, please reopen it. You all have the power and right to do so.

To all readers: Before proposing to add a new project, please carefully read the readme of this repository, so we don't waste everybody's time.

[2019-10-11 10:07] #44 closed

[2019-10-11 12:36] Lafudoci commented on #57
I don't know much about GO. But I believe it is an useful tool for Monero ecosystem. Although there is already an demo code, I would suggest to make a table for all functions and their instructions in README, eg. `GetOrderStatus`, `CreateOrder`. So dev could easily find how to use it.

[2019-10-11 12:57] Lafudoci commented on #56
You can simply make a simple guide within the tipbot repo. And use the repo's [ecosystem page](https://moneroecosystem.org/) to spread the tipbot information. In this way you can point people to the "official" tipbot under the framework of Monero ecosystem.

[2019-10-11 13:53] woodser commented on #56
@erciccione I agree.

[2019-10-11 13:59] normoes commented on #57
I like the idea, itmakeslife easier for "Go people" :)

I have a xmrto python wrapper (client).

Would that be an addition as well?
https://github.com/normoes/xmrto_wrapper

@erciccione What do you think?

[2019-10-11 14:37] woodser opened #58 "Add monero-cpp-library to the ecosystem?"
Hi, I am wondering if it makes sense to add my project, [monero-cpp-library](https://github.com/woodser/monero-cpp-library), to the monero-ecosystem?

`monero-cpp-library` is a C++ version of [monero-java](https://github.com/monero-ecosystem/monero-java) and [monero-javascript](https://github.com/monero-ecosystem/monero-javascript).  It provides a C++ library for using a Monero wallet by wrapping

[2019-10-11 18:49] omani commented on #57
@Lafudoci I always put a godoc link in my repos. I just waited with this one to move it to the ecosystem, since the github path will change then. so yeah, documentation will follow.

[2019-10-11 18:51] omani commented on #56
@Lafudoci yes this is how it will be done.

[2019-10-11 18:58] omani commented on #56
@erciccione so what is the difference between the first statement and the last?

you think it would be best to find a trusted member of the community? (community means anyone in the monero world?). but you don't think the members of the project should be given the responsability of managing user's money.

which is which?

If you mean by not making the whole ecosystem responsible for that, I see yo

[2019-10-13 09:50] erciccione commented on #58
ping @monero-ecosystem/maintainers

[2019-10-13 09:51] erciccione commented on #57
@normoes feel free to open another issue for that repo, so can be discussed.

I remind that all Ecosystem members can add labels and manage issues in this repo :)

[2019-10-13 09:57] erciccione commented on #56
Both, i don't see the two things related.

Exactly.

[2019-10-17 15:48] woodser commented on #58
@normoes monero-wallet-cli is a terminal application which uses monero-project's wallet2 in order to provide a wallet application in the terminal, whereas this is a software library which wraps wallet2 in order to provide a more robust and general-purpose wallet interface for applications like monero-wallet-cli to use.

wallet2 was not designed to be a general-purpose wallet interface and can be d

[2019-10-18 09:37] rbrunner7 commented on #57
Looks ok to me after glancing at it. I don't see any reason not to add this. As code it's not that big but probably still beats writing it myself should I have a need for something like this :)

[2019-10-18 12:06] normoes opened #59 "Add: xmrto_wrapper in python"
Hi,

I have written a python wrapper for XMR.to:
https://github.com/normoes/xmrto_wrapper

You can create orders, track orders and get the recent prices.

It can be used as module and as script and can be installed using pip - Not yet on PyPi, though.

I find that very useful, especially from a developer's point of view. I wouldn't have created it otherwise :)

[2019-10-18 13:47] normoes commented on #58
Now I get it. Sounds good to me.

[2019-10-18 15:09] dinpd opened #60 "Add: Real-time authorizations and DAPI via Supernode layer"
https://github.com/graft-project/graft-ng

PoS based Supernode layer for Monero.  Real-time authorizations and DAPI.

We have completed the DHT based communication, Authorization quorum selection, Blockchain based list based disqualifications.

Checking on the interest in Monero ecosystem community to take on and maintain what we've developed.

[2019-10-19 19:07] omani opened #61 "Add: go-telegram-monerotipbot"
hello folks,

here it finally is:
here is https://github.com/omani/go-telegram-monerotipbot from the successfully fully funded CCS proposal.

the repo is empty. and I will push the code as soon as we moved this (empty) repo to the ecosystem. I do this for operational reasons and Im sure you all understand why.

The final go-telegram-monerotipbot pointing to the monero-ecosystem (URL) will be place

[2019-10-19 19:08] omani commented on #56
After many discussions, a trusted member was found. this issue can be closed.

[2019-10-19 19:08] #56 closed

[2019-10-20 07:49] erciccione commented on #60
Hi @dinpd thanks for proposing thus project.

what do you mean? Are you looking for somebody willing to maintain *graft-ng* or you want to transfer the project to the Ecosystem and maintain it yourself?

[2019-10-20 08:02] erciccione commented on #61
@omani this would mean that the Maintainers would have to blindly vote to add a project which we cannot see. This is not a feasible approach. Please push the code first. What's the issue with pushing the code to your repo and then transfer it?

This is unrelated to the discussion about adding the project, but i want to point out that i don't know if people will use the bot, knowing that somebody t

[2019-10-20 11:10] omani commented on #61
@erciccione the reason to add a project which we cannot see is the timing. the monerotipbot is going live today and we wanted to avoid appearances of copies on telegram before 9pm UTC today.

and to your last point. yes I fully agree and what you said there is absolutely the way it should be: ideally everyone who wants to operate this bot in their own group can do so by running their own instance.

[2019-10-20 11:33] omani commented on #61
actually, when I think about this, this approach doesn't make that much sense. I want the people to use their own bot anyway. so why this avoidance of something.

I will push the code and start new.

[2019-10-20 11:33] #61 closed

[2019-10-20 12:11] dinpd commented on #60
Mostly the former, but we could pitch in as well.

[2019-10-20 13:25] omani opened #62 "Add: telegram-monerotipbot"
hi folks,
here it is finally. the Telegram Monero Tip Bot from the CCS proposal https://ccs.getmonero.org/proposals/monero-tip-bot.html

https://github.com/omani/telegram-monerotipbot

happy tipping! :)

[2019-10-21 11:50] erciccione commented on #62
Ping @monero-ecosystem/maintainers

[2019-10-21 12:01] erciccione commented on #60
I just realized that this is Graft. I didn't know the maintainers intended to not work on it anymore? Could you share the reason? IIRC  the project was advertised on reddit not long ago.

[2019-10-21 17:03] dinpd commented on #60
Limited resources.  We’re still chopping away at it, just not as fast as we’d like.   Figuring that with extra help it can be done much faster.

[2019-10-22 00:55] lh1008 commented on #62
Amazing. :+1:

[2019-10-22 01:36] Lafudoci commented on #62
Great work. `ACK`

[2019-10-22 01:40] Lafudoci commented on #59
It looks good, should be very useful for Monero python dev. I vote `ack`.

[2019-10-22 08:48] normoes commented on #62
Nice.

[2019-10-22 09:01] erciccione commented on #59
Ping @monero-ecosystem/maintainers

[2019-10-22 09:16] erciccione commented on #62
I `ACK` only at the condition that https://github.com/omani/telegram-monerotipbot/issues/1 is resolved first. Calling a custodial wallet "Official", beside being uncorrect, is extremely dangerous and could lead of sever problems in the future.

[2019-10-22 20:19] omani commented on #62
@erciccione thank you for reminding me of that potentially dangerous act.

I resolved your issue.

[2019-10-23 09:19] erciccione commented on #57
We have 2 + 1 ACK. We can consider this approved.

@Lafudoci @normoes and especially @rbrunner7 , thanks for voicing your opinion.

[2019-10-23 09:21] erciccione commented on #57
@omani you can transfer the repo now. Please comment here when done.

[2019-10-23 23:18] omani commented on #57
done.

[2019-10-24 08:28] erciccione commented on #57
@omani perfect. Would you take care of adding it to the website? https://github.com/monero-ecosystem/monero-ecosystem.github.io

[2019-10-24 20:18] omani commented on #57
https://github.com/monero-ecosystem/monero-ecosystem.github.io/pull/12

[2019-10-25 00:49] Lafudoci commented on #57
Great job, merged. @omani @erciccione

[2019-10-26 13:46] erciccione commented on #62
A clear approval. Thanks everybody for voting :)

@omani you can transfer the repo now. Please comment here when it's done.

[2019-10-26 19:35] omani commented on #62
welcome the telegram-monerotipbot to its new home:
https://github.com/monero-ecosystem/telegram-monerotipbot

PR for website:
https://github.com/monero-ecosystem/monero-ecosystem.github.io/pull/13

[2019-10-27 08:59] erciccione commented on #62
Please review #64

[2019-10-31 14:06] omani commented on #62
done

[2019-11-02 22:45] lh1008 commented on #55
I like the idea. Having a place in youtube for the Monero-Ecosystem projects to post will be great. I have been planning about some tutorials in the future but haven't put myself into it due to my reduced time I have at the moment but I do support the initiative.

[2019-11-04 18:07] erciccione commented on #62
I've been travelling and with a coming and going internet connection. I will make the annuncement on reddit tomorrow (hopefully).

[2019-11-05 16:09] erciccione commented on #62
Announced on reddit (https://www.reddit.com/r/Monero/comments/ds191t/2_new_projects_join_the_monero_ecosystem_the/) and Twitter (https://twitter.com/calciferciccio/status/1191749090981359620)

[2019-11-05 16:09] erciccione commented on #62
Thanks everybody for voting! The bot is transferred and announced :)

[2019-11-05 16:09] #62 closed

[2019-11-05 16:10] erciccione commented on #57
Announced on reddit (https://www.reddit.com/r/Monero/comments/ds191t/2_new_projects_join_the_monero_ecosystem_the/) and Twitter (https://twitter.com/calciferciccio/status/1191749090981359620)

[2019-11-05 16:11] erciccione commented on #57
Thanks everybody for participating to the discussion and for voting :)

[2019-11-05 16:11] #57 closed

[2019-11-05 16:16] erciccione opened #65 "Twitter account of the Ecosystem Project"
At the moment the announcements on Twitter are mostly made by my personal account, but i think would be better to make them with an account of the Ecosystem. What do the @monero-ecosystem/maintainers think about it?

I think the account should be managed by at least two members of the Ecosystem. DO you think is a good idea? Whowould be up for taking care of that? I could be one of the (at least) t

[2019-11-05 17:59] omani commented on #65
I like the idea.

+1

[2019-12-05 12:52] erciccione commented on #59
Any other opinion on this? @monero-ecosystem/maintainers

[2019-12-05 20:25] omani commented on #59
ack.

[2019-12-06 08:17] emesik commented on #59
Looks good

[2019-12-08 11:47] erciccione commented on #59
Thank you for voting everybody. 3ACK, We can consider it approved :).

@normoes Please ping me here or in one of the chats to start the transfer.

[2019-12-09 05:58] normoes commented on #59
@erciccione Ready.

[2019-12-09 13:47] erciccione commented on #59
@normoes ready for the transfer. Ping me here when done please.

[2019-12-09 14:16] normoes commented on #59
@erciccione Transferred. :+1:

[2019-12-28 13:50] erciccione commented on #59
@normoes Could you add the project to the website? https://github.com/monero-ecosystem/monero-ecosystem.github.io

Otherwise i or somebody else will add it for you, but that will delay things further more.

[2020-01-01 11:15] normoes commented on #59
@erciccione
I created this [PR](https://github.com/monero-ecosystem/monero-ecosystem.github.io/pull/14).

[2020-01-25 12:09] erciccione commented on #59
Announced on Twitter: https://twitter.com/calciferciccio/status/1221042077640863746 and reddit: https://www.reddit.com/r/Monero/comments/etq0wh/a_new_project_joins_the_monero_ecosystem_xmrto/

Better late than never, no? :P

[2020-01-25 12:09] #59 closed

[2020-01-25 12:09] normoes commented on #59
Wohoo ;)

[2020-04-08 03:32] Lafudoci commented on #37
Don't worry. It is exactly how open-sourced project works. Everyone can contribute and the philosophy is "Release early, release often". It's not necessary to release the project with perfect coding. The most important thing is it works and it could help/inspire/benefit someone in the community. We can always make it better later. From my perspective, this PiNode project is definitely already a ni

[2020-04-08 09:16] erciccione commented on #37
@Lafudoci I agree that this would be a great addition to the Ecosystem, i think the process here got stuck because i was under the impression that handeover the project was part of the proposal. If it's not IMHO we can go ahead and add this.

@shermand100 what are your thoughts?

[2020-04-08 13:18] shermand100 commented on #37
@erciccione Handover was the wrong phrase. I will still be the lead on this and will continue developing it.

[2020-04-08 15:59] erciccione commented on #37
Then i don't see any issue.

Let's see if somebody else from @monero-ecosystem/maintainers have an opinion, otherwise i think we can just go ahead and start the transfer.

[2020-04-11 11:04] erciccione commented on #37
We can consider it approved then. @shermand100 I sent you an invitation to join the the project, please accept it and then transfer the repo :)

[2020-04-11 18:03] shermand100 commented on #37
@erciccione . Accepted and repo transferred. It will take a little time to amend all the installation links to the new Repo.
Once complete I'll remove my personal repository to avoid confusion with this version.

Thanks very much for the inclusion.

[2020-04-28 10:16] erciccione commented on #37
Please review https://github.com/monero-ecosystem/meta/pull/68. I will merge it soon anyway, since the addition was already discussed and approved here.

[2020-04-28 10:26] Lafudoci commented on #37
@shermand100 You are also welcome to make your project page on the [Monero Ecosystem](https://moneroecosystem.org/) website. The guide is in the [repo README](https://github.com/monero-ecosystem/monero-ecosystem.github.io).

[2020-05-13 08:13] erciccione commented on #58
@woodser are you still interested in moving this to the Ecosystem?

[2020-05-13 08:33] erciccione commented on #37
@shermand100 i added it for you: https://github.com/monero-ecosystem/monero-ecosystem.github.io/pull/17

After that's merged we cann announce it.

[2020-05-13 22:34] woodser commented on #58
Sure.

[2020-05-21 11:49] erciccione commented on #37
Announced [on Reddit](https://www.reddit.com/r/Monero/comments/gnvdmz/a_new_project_joins_the_monero_ecosystem/) and [Twitter](https://twitter.com/calciferciccio/status/1263436444623912961).

Thanks everybody :)

[2020-05-21 11:49] #37 closed

[2020-06-02 14:45] woodser commented on #58
Do you still want this moved to the ecosystem?  I'm about to release v0.3.0 of all three libraries (Java, JavaScript, and C++), so now is probably a good time to do it.

[2020-06-02 17:51] erciccione commented on #58
@woodser Sure, but i would like to have some more ACKs first. At the moment only @normoes commented.

[2020-06-03 01:34] Lafudoci commented on #58
@erciccione  I thought is the same with @normoes , the more implementation for wallet dev is always better. But I'm not good at C++ either. So I would say it's nice to add it but unable to give a technical review.

[2020-06-03 12:09] erciccione commented on #58
I don't think a strict technical review is necessary in this case. Woodser is a known and respected member of this community, i think his other works speak for his competence. IMO we can consider this accepted.

[2020-06-03 16:09] woodser commented on #58
I'm getting "You don’t have the permission to create public repositories on monero-ecosystem" when I try to transfer the repository.

[2020-06-03 16:44] erciccione commented on #58
@woodser Try again pls

[2020-06-03 18:14] woodser commented on #58
Thanks.  It's transferred now.  But I'm not able to edit the description and website.

[2020-06-03 18:32] erciccione commented on #58
When a repo is added to a github project, for some reason the permissions of the maintainer change to "read" instead of "admin". I usually manually change it to "admin" after a repo is added. It's fixed now.

[2020-06-09 13:55] erciccione commented on #58
Added in #69. Somebody please review :)

[2020-09-01 07:30] erciccione commented on #52
This can be closed.

[2020-09-01 07:30] #52 closed

[2020-09-01 08:07] erciccione commented on #58
https://github.com/monero-ecosystem/monero-ecosystem.github.io/pull/18

[2020-09-01 10:38] xmrdsc commented on #58
Glad to see this get added!

[2020-09-24 12:54] normoes opened #70 "Add: python monero health checker module"
I would like to introduce `monero_health` to you. It is written in python and is a module to return health or status information about `monerod`.

https://github.com/normoes/monero_health

The README describes its usage and responses.

This module is used on the XMR.to community hub - The module provides the running serice with the JSON result.
* https://community.xmr.to/node/mainnet/health/api/v1

[2020-09-25 06:00] Lafudoci commented on #70
This is good. A nice python module which could be easily integrated. Remote node health is important for Monero service project. I vote `ACK`.

[2020-09-26 08:49] erciccione commented on #58
Announced on Reddit and Twitter

https://www.reddit.com/r/Monero/comments/gnvdmz/a_new_project_joins_the_monero_ecosystem/

https://twitter.com/calciferciccio/status/1309776922994450432

[2020-09-26 08:50] erciccione commented on #58
Thanks everybody for the discussion and for voting :)

[2020-09-26 08:50] #58 closed

[2020-09-27 17:47] erciccione commented on #70
Cool project. `ACK` for me as well, but @normoes could you add a license? I think it's important that for the nature of the Ecosystem project itself, all projects should be licensed, to not make contribution/distribution hard.

[2020-09-29 11:13] normoes commented on #70
Good point. `LICENSE` added.

[2020-10-19 14:09] normoes opened #71 "Add: python monero scripts"
The python module `monero_scripts` can be found here:
* https://github.com/normoes/monero_scripts
* https://pypi.org/project/monero-scripts/

It is more or less a collection of scripts in order to tackle the 3 (at the moment) following use cases:
* Get the hard fork dates from `github/monero-project` from within `src/hardforks/hardforks.cpp`.
* Get the seed nodes from `github/monero-project` from

[2020-10-21 10:37] erciccione commented on #71
Thanks for the proposal.

How are this script related with the health checker proposed in #70?

ping @monero-ecosystem/maintainers for voting.

[2020-10-21 10:45] normoes commented on #71
[`monero_health`](https://github.com/monero-ecosystem/meta/issues/70) makes use of the 3rd use case that `monero_scripts` provides, i.e. checking the daemon's accessibility on its P2P port.

Everything else that comes with `monero_health` is with regard to daemon status information and unrelated to `monero_scripts`.

[2020-10-21 10:45] erciccione commented on #70
@monero-ecosystem/maintainers any opinion/vote about this?

[2020-10-21 10:56] emesik commented on #70
`ACK` from me, definitely. This seems very useful, especially when `monerod` is not a super reliable piece of software.

[2020-10-21 10:58] emesik commented on #71
Sure, I'll `ACK` it. However, this stuff might as well become a part of the general Python module.

[2020-10-22 03:38] Lafudoci commented on #71
I agree with @emesik . It will be very nice to see it becomes a part of Python Monero module. But it's still good work for adding to ecosystem in current form since it's already well packaged and documented. I vote ACK.

[2020-11-11 13:29] erciccione commented on #70
Thank you for voting. We can consider this accepted. @normoes you may start the transfer whenever you are ready. Please ping me when it's done :)

[2020-11-11 13:30] erciccione commented on #71
Thank you for voting. We can consider this accepted. @normoes you may start the transfer whenever you are ready. Please ping me when it's done :)

[2020-11-15 22:21] Agorist-Action opened #72 "Adding C# Monero RPC Client to Ecosystem"
Hey,

Can we add this project to the Monero Ecosystem? Rbrunner7 has reviewed it. Thanks

https://github.com/Agorist-Action/csharp-monero-rpc-client

[2020-11-16 10:13] erciccione commented on #72
Hi @Agorist-Action thanks for the proposal :)

ping @monero-ecosystem/maintainers for voting.

@rbrunner7 [comment on reddit](https://www.reddit.com/r/Monero/comments/juejr7/c_monero_daemon_and_wallet_rpc_client_now/gcedl1y/)

[2020-11-18 02:50] Agorist-Action commented on #72
How many people need to vote? Haha, looks like they're on vacation.

[2020-11-18 09:19] emesik commented on #72
You may generally count me as voting for adding every Monero-related project that is not malicious. No matter how advanced they are, it's good to keep them in one place, as long as authors are able to move away should they decide it's better.

Any developer looking for libs would be then directed to monero-ecosystem with a remark that we do not guarantee anything, just like FLOSS never did.

Anywa

[2020-11-18 09:30] normoes commented on #72
Me too. This is a very good addition.

[2020-11-20 11:03] erciccione commented on #72
@emesik i see your point, but let's keep in mind this is not just a collection of the repositories. The initial aim of the Monero Ecosystem project is to create a loose community of developers working on up-to-date and high quality tools. Who becomes part of the "community" will also have voting rights.

The repos are always owned by the author, so yeah, people can move out whenever they like.

@e

[2020-11-20 14:35] Agorist-Action commented on #72
Can we directly tag people who haven't voted but whose opinion you'd like? Not sure if someone will vote if they haven't done so in a week.

[2020-11-23 09:05] erciccione commented on #71
@normoes any news about the transfers?

[2020-11-23 09:35] normoes commented on #71
Today is the day :+1:

Thanks for the reminder.

[2020-11-23 12:17] normoes commented on #71
I finished the first package:
* https://github.com/monero-ecosystem/monero_health
* https://pypi.org/project/monero-health/

[2020-11-23 12:18] normoes commented on #70
I finished transferring the repository:
* https://github.com/monero-ecosystem/monero_health
* https://pypi.org/project/monero-health/

[2020-11-23 13:45] normoes commented on #71
I finished transferring the repository:
* https://github.com/monero-ecosystem/monero_scripts
* https://pypi.org/project/monero-scripts/

[2020-11-23 14:09] erciccione commented on #71
Nice :)

Better keep this open until we went through all the steps for new repositories. Same for #70.

[2020-11-23 20:23] erciccione commented on #70
Added to the README with #73

[2020-11-23 20:23] erciccione commented on #71
Added to the README with #73

[2020-11-26 11:31] erciccione commented on #72
@Agorist-Action There is no rush, people might be busy and take their time to review. We also have 2 repositories in the process of being added, better wait until those are added first IMO.

[2020-11-30 23:37] Lafudoci commented on #72
I am not a C# dev so I did not review the code. But new implementations are important seeds for the ecosystem. Therefore I vote yes for this proposal.

[2020-12-14 03:58] Agorist-Action commented on #72
I think this should be added under Libraries and Helpers [here](https://web.getmonero.org/resources/developer-guides/), post approval.

[2020-12-14 19:31] erciccione commented on #72
I think we can safely consider this approved :) Thanks everybody for voting.

@Agorist-Action you can transfer the repository any time. Please let me know when the transfer is completed.

[2020-12-14 19:46] erciccione commented on #72
Good idea: https://github.com/monero-project/monero-site/issues/1375

[2020-12-19 05:51] Agorist-Action commented on #72
@erciccione Transfer it to you? And what happens if you get hacked?

[2020-12-19 09:54] erciccione commented on #72
Did you read about the Monero Ecosystem before proposing to add your project? Please read the README of this repository.

[2020-12-19 10:00] erciccione commented on #72
To monero-ecosystem.

You can delete a repository any time. You should just let us know if you do that.

Sure, but then why did you propose to add it to the Monero Ecosystem?

[2020-12-19 15:48] Agorist-Action commented on #72
No I didn't previously read it. I read it just now. Thanks for answering my questions.

[2020-12-19 15:54] Agorist-Action commented on #72
I tried to transfer and get this: You don’t have the permission to create public repositories on monero-ecosystem

[2020-12-19 15:59] erciccione commented on #72
i forgot to send you the invitation. After you accepted that you'll be able to start the transfer.

[2020-12-20 01:53] Agorist-Action commented on #72
Transfered

[2020-12-29 09:35] erciccione commented on #72
Adding with #74

[2020-12-31 01:23] Agorist-Action commented on #72
Thanks for the update!

[2020-12-31 02:36] Agorist-Action commented on #72
Ill let you know when I'm ready for an announcement about this repository. I'm working on this PR which is reconciling the APIs in the documentation with that of the actual source code: https://github.com/monero-ecosystem/csharp-monero-rpc-client/pull/16

@erciccione

[2020-12-31 19:28] erciccione commented on #72
Thanks. If you prefer to make the announcement yourself, please do so! :)

[2021-01-01 18:14] Agorist-Action commented on #72
I don't have a Reddit account, or an account on any social media. I've authored a post for you, if you'd be able to make the post for me. It should be made in conjunction with the addition of this repository to Monero's official website (with this [PR](https://github.com/monero-project/monero-site/issues/1375))

[2021-01-03 10:48] erciccione commented on #72
I opened https://github.com/monero-project/monero-site/pull/1403 to add csharp-monero to getmonero. Still needs to be added to https://github.com/monero-ecosystem/monero-ecosystem.github.io

[2021-01-03 15:08] Agorist-Action commented on #72
Ah, okay. I will do this later today.

[2021-01-03 15:14] Agorist-Action commented on #72
Can my Markdown section simply link to Github Documentation? I may add a Wiki to my projects repository.

[2021-01-04 14:17] Lafudoci commented on #72
Sure, you only have to fill out all the meta: title, description, tags ... etc. Rest of the markdown content is up to you.

[2021-01-07 02:45] Agorist-Action commented on #72
@Lafudoci https://github.com/monero-ecosystem/monero-ecosystem.github.io/pull/19

[2021-01-15 04:08] Agorist-Action commented on #72
Awesome, it is on the website now: https://www.getmonero.org/resources/developer-guides/

Happy to be part of this community.

[2021-01-17 04:38] Agorist-Action commented on #72
Made a Reddit post: https://www.reddit.com/r/Monero/comments/kysiq8/c_monero_library_joins_the_monero_ecosystem_and/

Awaiting erciccione's Twitter post when his time is free.

[2021-01-17 08:57] erciccione commented on #72
I posted it on Twitter fwiw: https://twitter.com/calciferciccio/status/1350728829627752448

Thanks for making the reddit post :)

[2021-01-17 08:58] erciccione commented on #72
Transfer completed! Thanks everybody :)

[2021-01-17 08:58] #72 closed

[2021-03-13 19:16] Gingeropolous opened #75 "add docker-monero-node?"
https://github.com/lalanza808/docker-monero-node

?

[2021-03-15 09:58] erciccione commented on #75
Thanks for proposing these, but let's see if the maintainer (@lalanza808) agree with the transfer first, then we can discuss each project in their own issue :)

[2021-03-15 19:41] lalanza808 commented on #75
I'm open to doing so. Thanks for the heads up @Gingeropolous 😄

[2021-03-24 06:14] erciccione opened #76 "Add xmr-node-cannon-do"
https://github.com/lalanza808/xmr-node-cannon-do

As initially suggested in #75

ping @lalanza808

[2021-03-24 06:15] erciccione commented on #75
Edited title and description and opened #76, so each repository can be discussed and voted. @monero-ecosystem/maintainers

[2021-03-24 06:16] erciccione commented on #76
See https://github.com/monero-ecosystem/meta/issues/75#issuecomment-805532646

ping @monero-ecosystem/maintainers

[2021-03-27 02:57] Lafudoci commented on #75
Very good work @lalanza808. I vote yes.

[2021-03-27 03:05] Lafudoci commented on #76
Interesting project. A pay-as-you-go Monero node. I vote yes.

[2021-04-05 13:31] adrelanos opened #77 "add Monero Debian Package"
https://gitlab.com/whonix/monero-gui

[2021-04-11 08:33] erciccione commented on #77
Thanks for proposing to migrate this very important project. Please make sure to read the ['Join the ecosystem'](https://github.com/monero-ecosystem/meta#join-the-ecosystem) section of the README.

[2021-04-11 08:34] erciccione commented on #77
ping @monero-ecosystem/maintainers for opinions and votes.

[2021-04-11 10:33] Lafudoci commented on #77
Absolutely yes. No doubt the package improves the user experience of Monero project.

[2021-07-24 07:33] erciccione opened #78 "The Monero Ecosystem project is closing"
As it's clear from all the unresolved issues, i don't have much time to manage this project at the moment. The problem is that this was supposed to be a collective of developers/people helping each other and helping keep the project going.

It was disappointing to see that, even if new members kept joining and triage powers were extended to all members, i ended up being the only one taking care of

[2021-07-24 12:05] woodser commented on #78
I think it's useful to have this collection of projects.

Developers contribute to their own project often.

There are open issues for monero-ecosystem/meta, but that doesn't mean they're high priority or necessary for the success of the ecosystem or individual projects.

[2021-07-24 12:32] erciccione commented on #78
@woodser the issue is strictly related to the management of the Monero Ecosystem project itself and doesn't affect the ongoing development of the single projects. If we want to add more projects, i need others beside me to be actively involved in the voting/transfer process, otherwise we stagnate. I agree adding more projects is not a priority, but making the project grow as a whole (in terms of n

[2021-07-26 09:00] emesik commented on #78
I've been still within the crypto industry but quite detached from Monero recently. That's not going to change within coming months. However, I think that Monero Ecosystem is a great idea and should be continued.

I'll do my best to devote some time and take part in upcoming votes. Can't promise more right now. For Python projects I could also do quick code reviews.

[2021-08-04 19:43] lh1008 commented on #78
I've also been quite busy and my time has reduced significantly. I'm still on for voting and for anything else related. Not sure what else to do besides helping decide whether other projects should join or not. Erciccione do you have a list of other things you have been taking care of for the monero-ecosystem organization?

[2021-08-05 08:14] DangerOnTheRanger commented on #78
I'm not currently a maintainer on any of the ecosystem projects, but I'd like to become the maintainer/a co-maintainer of [the golang RPC client](https://github.com/monero-ecosystem/go-monero-rpc-client), if possible. There's a couple PRs that I think could be merged immediately (monero-ecosystem/go-monero-rpc-client#8, monero-ecosystem/go-monero-rpc-client#7) that would have a good impact on the

[2021-08-31 09:58] erciccione commented on #78
Thanks everybody for your feedback. Closing this issue.

The only person that is able to do that is @omani, since the repo it's theirs. Try to contact them. If that repo is abandoned we could consider removing it from the project and instead add your updated repo (if people agree to do so).

[2021-08-31 09:59] erciccione commented on #71
To officialize this, it needs to be added to the website repo: https://github.com/monero-ecosystem/monero-ecosystem.github.io

[2021-08-31 12:06] omani commented on #78
hi @DangerOnTheRanger I just merged your PRs. I wasnt available for a long time and just noticed this discussion.

the go rpc client is not abandoned and is being actively used. fyi.

cheers.

[2021-08-31 16:10] erciccione commented on #78
Great to know. Thanks for the update :)

[2021-09-01 04:40] normoes commented on #71
I can do that.

[2021-09-01 04:48] normoes commented on #71
By the way, the tools (in action) can be found here nowadays:
* https:///melo.tools/xmr-countdown
* https:///melo.tools/xmr-seed-nodes

[2021-09-01 05:47] normoes commented on #71
Could someone please take a look at the pull  request:
* https://github.com/monero-ecosystem/monero-ecosystem.github.io/pull/24

There is not much that can be done wrong but there is a chance ;)

@erciccione

[2021-09-01 10:34] erciccione commented on #71
Reviewed. Thanks @normoes, let's wait for @Lafudoci's review now :)

[2021-09-02 12:24] Lafudoci commented on #71
Good job @normoes , and thanks @erciccione. It has been merged.

[2021-10-20 04:47] xanoni commented on #55
If this moves forward I would keep good local copies of everything, because it will be de-platformed eventually.

[2021-10-20 05:42] xanoni commented on #65
I would also cross-post everything to a number of Mastodon instances.

https://instances.social/

[2022-04-12 10:50] eversinc33 opened #80 "Add Nim Monero Client to Ecosystem"
Hey,

I was missing monero-RPC bindings in Nim for a private project, so I created them myself. I then got referred to this github org for my below repository and would like to add it to the monero-ecosystem:

https://github.com/eversinc33/nim-monero-rpc

I plan on adding monero node RPC as well, but I am not yet familiar enough with the usage. Also want to add it to the nimble package list, if it

[2022-08-05 06:42] eversinc33 commented on #80
@erciccione Is the monero ecosystem still maintained? I see the last merged PR was in 2020

[2022-08-30 18:16] eversinc33 commented on #80
Great to hear. I understand how this can be time consuming. I would still love to have my library integrated into the ecosystem organisation. Plus, I'd be glad to get involved and help with maintaining it.

[2022-08-31 06:53] erciccione commented on #80
Sounds good @eversinc33. Let me ping the other members :) @monero-ecosystem/maintainers

[2022-09-02 13:48] Lafudoci commented on #80
Thank you @erciccione.  TBH, I don't know much about Nim. But I believe more RPC client implementations are always good for Monero ecosystem. So I vote yes. Good job @eversinc33.